<form [formGroup]="form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
          تعریف کد تخفیف
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              بازه زمانی :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <span class="text-black fs-09">
                از
              </span>
              <div class="mt-1">
                <input #datepickerInput1 class="form-control rounded-pill text-center text-black" dir="ltr"
                       type="text"/>
                <ng-persian-datepicker [dateOnSelect]="config.date.onSelect" [dateValue]="config.date.value"
                                       [input]="datepickerInput1" [timeEnable]="config.time.enable"
                                       [timeMeridian]="false"
                                       [timeMeridian]="config.time.meridian" [timeShowSecond]="config.time.showSecond"
                                       [uiHideAfterSelectDate]="config.ui.hideAfterSelectDate"
                                       [uiHideOnOutsideClick]="config.ui.hideOnOutsideClick"
                                       [uiIsVisible]="config.ui.isVisible"
                                       [uiMonthView]="config.ui.monthView" [uiTheme]="'gray'"
                                       [uiTheme]="config.ui.theme"
                                       [uiTodayBtnEnable]="true" [uiYearView]="config.ui.yearView">
                </ng-persian-datepicker>
              </div>
              <span class="text-black fs-09">
                تا
              </span>
              <div class="mt-1">
                <input #datepickerInput2 class="form-control rounded-pill text-center text-black" dir="ltr"
                       type="text"/>
                <ng-persian-datepicker [dateOnSelect]="config.date.onSelect" [dateValue]="config.date.value"
                                       [input]="datepickerInput2" [timeEnable]="config.time.enable"
                                       [timeMeridian]="false"
                                       [timeMeridian]="config.time.meridian" [timeShowSecond]="config.time.showSecond"
                                       [uiHideAfterSelectDate]="config.ui.hideAfterSelectDate"
                                       [uiHideOnOutsideClick]="config.ui.hideOnOutsideClick"
                                       [uiIsVisible]="config.ui.isVisible"
                                       [uiMonthView]="config.ui.monthView" [uiTheme]="'gray'"
                                       [uiTheme]="config.ui.theme"
                                       [uiTodayBtnEnable]="true" [uiYearView]="config.ui.yearView">
                </ng-persian-datepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              برند :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" appendTo="body" bindLabel="name" class="form-control mb-3"
                       formControlName="selectedCar2">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              گروه مشتری :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" appendTo="body" bindLabel="name" class="form-control mb-3"
                       formControlName="selectedCar1">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              نوع کاربری :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" appendTo="body" bindLabel="name" class="form-control mb-3"
                       formControlName="selectedCar1">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              گروه کالا :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" appendTo="body" bindLabel="name" class="form-control mb-3"
                       formControlName="selectedCar1">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              به غیر از :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" appendTo="body" bindLabel="name" class="form-control mb-3"
                       formControlName="selectedCar1">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              حجم خرید :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <span class="text-black fs-09">
                از
              </span>
              <div class="mt-1">
                <input class="form-control rounded-pill text-start text-black" placeholder="تومان" type="text">
              </div>
              <span class="text-black fs-09">
                تا
              </span>
              <div class="mt-1">
                <input class="form-control rounded-pill text-start text-black" placeholder="تومان" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div class="row mt-4">
      <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
          شرایط کد تخفیف
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6 col-sm-4">
        <div class="d-flex flex-row gap-3 mt-2">
          <label class="float-end float-sm-start mt-2">
            حجم تخفیف :
          </label>
          <div class="mr-1">
            <app-switch [labelOne]="'تومان'" [labelTwo]="'درصد'"></app-switch>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-2">
        <input class="form-control rounded-pill text-center text-black" type="text">
      </div>
      <div class="col-12 col-sm-1">
        <div class="text-black mt-3 text-end text-sm-start fs-09">
          تا سقف
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <input class="form-control rounded-pill text-center text-black" type="text">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-3">
        <div class="d-flex flex-row gap-3 mt-2">
          <label class="float-end float-sm-start text-center mt-2">
            تعداد دفعه استفاده :
          </label>
          <div class="flex-grow-1 flex-sm-grow-0">
            <input class="form-control rounded-pill text-center text-black" type="text">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <div class="text-black mt-4 text-end fs-09">
          به ازای هر کاربر
        </div>
      </div>
      <div class="col-10 col-sm-2">
        <input class="form-control rounded-pill mt-1 text-center text-black" type="text">
      </div>
      <div class="col-2 col-sm-1">
        <div class="text-black mt-4 text-end fs-09">
          در کل
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-7 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-2">
            <label class="float-end float-sm-start mt-3">
              قابل اعمال بر :
            </label>
          </div>
          <div class="col-12 col-sm-10">
            <ng-select [items]="cars" [multiple]="true" appendTo="body" bindLabel="name" class="form-control mb-3"
                       formControlName="selectedCar1">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-4">
        <div class="d-flex flex-row gap-3 mt-2">
          <label class="float-end float-sm-start mt-2">
            حجم تخفیف :
          </label>
          <div class="mr-1">
            <app-switch [labelOne]="'تک کالا'" [labelTwo]="'سبد خرید'"></app-switch>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-2 mt-sm-0">
        <ng-select [items]="cars" [multiple]="true" appendTo="body" bindLabel="name" class="form-control mb-3"
                   formControlName="selectedCar1">
        </ng-select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-8">
        <div class="d-flex flex-row align-items-center mt-3">
          <input checked class="form-check-input" name="percentType" type="checkbox">
          <label class="form-check-label mr-1 cursor-pointer">
            تخفیف هزینه ارسال
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-8">
        <div class="d-flex flex-row align-items-center mt-3">
          <input checked class="form-check-input" name="percentType" type="checkbox">
          <label class="form-check-label mr-1 cursor-pointer">
            رایگان کردن هزینه ارسال
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-8">
        <div class="d-flex flex-row align-items-center mt-3">
          <input checked class="form-check-input" name="percentType" type="radio">
          <label class="form-check-label mr-1 cursor-pointer">
کد تخفیف ثابت
          </label>
          <div class="mr-1">
            <input class="form-control rounded-pill text-center text-black" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-row align-items-center">
          <input checked class="form-check-input" name="percentType" type="radio">
          <label class="form-check-label mr-1 cursor-pointer">
            کد تخفیف تصادفی با پیشوند
          </label>
          <div class="mr-1">
            <input class="form-control rounded-pill text-center text-black" type="text">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-1">
        <div class="text-black mt-3 text-end fs-09">
به تعداد:
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <input class="form-control rounded-pill text-center text-black" type="text">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6 col-sm-3">
        <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
                type="submit">
          ذخیره الگو
        </button>
      </div>
      <div class="col-6 col-sm-3">
        <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
                type="submit">
          تولید کد
        </button>
      </div>
    </div>
  </div>
</form>
<br>
