<form [formGroup]="form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
          تعریف و ارسال پیامک
        </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="mt-06" for="txtSmsDescription">
              متن پیامک :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <textarea class="form-control border-radius-1-5" cols="30" id="txtSmsDescription" name="txtSmsDescription"
              rows="10"></textarea>
            <span class="sms-length">
              234 کارکتر/ 1 پیامک
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              برند :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" [searchable]="true" appendTo="body" bindLabel="name"
              formControlName="selectedCar1" class="form-control mb-3">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              نوع کاربری :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" [searchable]="true" appendTo="body" bindLabel="name"
              formControlName="selectedCar2" class="form-control mb-3">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              گروه مشتری :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" [searchable]="true" appendTo="body" bindLabel="name"
              formControlName="selectedCar3" class="form-control mb-3">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              مخاطب سناریو :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="cars" [multiple]="true" [searchable]="true" appendTo="body" bindLabel="name"
              formControlName="selectedCar4" class="form-control mb-3">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-3 mt-3">
            <label for="txtSmsDescription">
              ارسال برای :
            </label>
          </div>
          <div class="col-12 col-sm-4 mt-3">
            <input checked class="form-check-input" name="sendSMSTimeType" type="radio">
            <label class="form-check-label mr-1">
              هم اکنون
            </label>
          </div>
          <div class="col-12 col-sm-5 mt-3">
            <input checked class="form-check-input" name="sendSMSTimeType" type="radio">
            <label class="form-check-label mr-1">
              زمانبندی شده برای تاریخ
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-5">
            <ng-persian-datepicker [timeEnable]="true" [timeShowSecond]="true" [uiMonthView]="true"
              [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD HH:mm:ss">
              <input #datepickerInput3 formControlName="expierDate"
                class="form-control rounded-pill text-center text-black" dir="ltr" type="text" />
            </ng-persian-datepicker>
          </div>
          <div class="col-12 col-sm-7 mt-3 mt-sm-0">
            <div class="d-flex flex-row gap-2 align-items-center">
              <div>
                <input class="form-control rounded-pill text-center" type="text">
              </div>
              <div>
                <span class="mx-2">
                  :
                </span>
              </div>
              <div>
                <input class="form-control rounded-pill text-center" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6 col-sm-2">
        <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
          type="submit">
          ارسال
        </button>
      </div>
      <div class="col-6 col-sm-2">
        <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
          type="submit">
          انصراف
        </button>
      </div>
    </div>
  </div>
</form>
