<form action="" dir="rtl">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
          تعریف و ارسال پیامک
        </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="mt-06" for="txtSmsDescription">
              متن پیامک :
            </label>
          </div>
          <div class="col-9">
            <textarea class="form-control border-radius-1-5" cols="30"
                      id="txtSmsDescription" name="txtSmsDescription" rows="10"></textarea>
            <span class="sms-length">
              234 کارکتر/ 1 پیامک
            </span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-06">
              برند :
            </label>
          </div>
          <div class="col-9">
            <select class="form-select form-select-lg mb-3 rounded-pill"
                    dir="rtl">
              <option selected>زینجا</option>
              <option value="1">بون</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-06">
              نوع کاربری :
            </label>
          </div>
          <div class="col-9">
            <select class="form-select form-select-lg mb-3 rounded-pill"
                    dir="rtl">
              <option selected>زینجا</option>
              <option value="1">بون</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-06">
              گروه مشتری :
            </label>
          </div>
          <div class="col-9">
            <select class="form-select form-select-lg mb-3 rounded-pill"
                    dir="rtl">
              <option selected>زینجا</option>
              <option value="1">بون</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-06">
              مخاطب سناریو :
            </label>
          </div>
          <div class="col-9">
            <select class="form-select form-select-lg mb-3 rounded-pill"
                    dir="rtl">
              <option selected>زینجا</option>
              <option value="1">بون</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="d-flex flex-row gap-3 align-items-center">
          <label>
            ارسال برای :
          </label>
          <div class="mr-3">
            <input checked class="form-check-input" name="sendSMSTimeType" type="radio">
            <label class="form-check-label mr-1">
              هم اکنون
            </label>
          </div>
          <div class="mr-1">
            <input checked class="form-check-input" name="sendSMSTimeType" type="radio">
            <label class="form-check-label mr-1">
              زمانبندی شده برای تاریخ
            </label>
          </div>
          <div class="mr-1">
            <input class="form-control rounded-pill text-center" type="text">
          </div>
          <div class="mr-1 d-flex flex-row align-items-center">
            <div>
              <input class="form-control rounded-pill w-70-px text-center" type="text">
            </div>
            <span class="mx-2">
              :
            </span>
            <div>
              <input class="form-control rounded-pill w-70-px text-center" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-2">
        <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block"
                dir="rtl" type="submit">
          ارسال
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block"
                dir="rtl" type="submit">
          انصراف
        </button>
      </div>
    </div>
  </div>
</form>

