<div dir="rtl">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-0 border-spacing-xs">
            <thead>
              <tr>
                <th class="text-end font-yekan-bold fs-08 align-middle w-100-px pr-2" scope="col">ردیف</th>
                <th class="text-end font-yekan-bold fs-08" scope="col">
                  <label [ngClass]="{'filter-selected':activeFilterName==3}" (click)="openFilterForm(3)"
                    class="filter-title">
                    برند
                    <svg class="bi bi-funnel" fill="currentColor" *ngIf="theFilterBrandsSelectedList.length==0"
                      height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                    </svg>
                    <svg class="bi bi-funnel-fill color-app-green" *ngIf="theFilterBrandsSelectedList.length>0"
                      fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                    </svg>
                  </label>
                  <app-filter (applyEvent)="applyFilterForm($event,3)" (cancelEvent)="closeFilterForm($event,3)"
                    [visible]="activeFilterName==3" [items]="theFilterBrandsList">
                  </app-filter>
                </th>
                <th class="text-center font-yekan-bold fs-08" scope="col">نوع کاربری</th>
                <th class="text-center font-yekan-bold fs-08" scope="col">گروه مشتری</th>
                <th class="text-center font-yekan-bold fs-08" scope="col">مخاطب سناریو</th>
                <th class="text-center font-yekan-bold fs-08" scope="col">
                  <label [ngClass]="{'selected':activeFilterName==2}" (click)="openFilterForm(2)" class="filter-title">
                    تاریخ ارسال
                    <svg class="bi bi-funnel" fill="currentColor" *ngIf="theFilterDateFromSelected.length==0"
                      height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                    </svg>
                    <svg class="bi bi-funnel-fill color-app-green" *ngIf="theFilterDateFromSelected.length>=10"
                      fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                    </svg>
                  </label>
                  <app-filter (applyEvent)="applyFilterForm($event,2)" (cancelEvent)="closeFilterForm($event,2)"
                    [visible]="activeFilterName==2" [filterType]="3">
                  </app-filter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center" scope="row">1</td>
                <td class="text-end">
                  همه
                </td>
                <td class="text-center">
                  همه
                </td>
                <td class="text-center">
                  طالبی
                </td>
                <td class="text-center">
                  روز جوان
                </td>
                <td class="text-center">
                  1401/02/12
                </td>
              </tr>
              <tr>
                <td class="text-center" scope="row">2</td>
                <td class="text-end">
                  زینجا
                </td>
                <td class="text-center">
                  همه
                </td>
                <td class="text-center">
                  09128258765
                </td>
                <td class="text-center">
                  روز جوان
                </td>
                <td class="text-center">
                  1401/02/25
                </td>
              </tr>
              <tr>
                <td class="text-center" scope="row">3</td>
                <td class="text-end">
                  همه
                </td>
                <td class="text-center">
                  همه
                </td>
                <td class="text-center">
                  طالبی
                </td>
                <td class="text-center">
                  روز جوان
                </td>
                <td class="text-center">
                  1401/02/12
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination [pageSize]="pageSize" [totalPages]="service.totalPages" [pageIndex]="pageIndex"
          (notifyPageIndex)="selectedPageIndex($event)">
        </app-pagination>
      </div>
      <div class="row mt-5">
        <div class="col-6 col-sm-3">
          <a class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl"
            [routerLink]="['/admin/main/sms/create']">
            پیامک جدید
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
