<div class="container-fluid">
    <div *ngIf="theViewList.length>0||activeFilterName!==0" class="row mt-4">
        <div class="row mt-3">
            <div class="col-12">
                <table cellspacing="0" class="table table-hover border-0">
                    <thead>
                        <tr>
                            <th class="text-end font-yekan-bold pr-2 fs-08 cursor-pointer" scope="col">
                                <app-filter (applyEvent)="applyFilterForm($event,1)"
                                    (cancelEvent)="closeFilterForm($event,1)" [items]="theFilterUserTypeList"
                                    title="نوع کاربری">
                                </app-filter>
                            </th>
                            <th class="text-end font-yekan-bold pr-2 fs-08 cursor-pointer" scope="col">
                                <app-filter (applyEvent)="applyFilterForm($event,2)"
                                    (cancelEvent)="closeFilterForm($event,2)" [items]="theFilterBrandsList"
                                    title="برند">
                                </app-filter>
                            </th>
                            <th class="text-start font-yekan-bold fs-08 cursor-pointer" scope="col">
                                <app-filter (applyEvent)="applyFilterForm($event,3)"
                                    (cancelEvent)="closeFilterForm($event,3)" [items]="theFilterCommissionList"
                                    title=" پایه پورسانت">
                                </app-filter>
                            </th>
                            <th class="text-start font-yekan-bold fs-08 cursor-pointer" scope="col">
                                <app-filter (applyEvent)="applyFilterForm($event,4)"
                                    (cancelEvent)="closeFilterForm($event,4)" [items]="theFilterPercentList"
                                    title="بازه تخفیف مشتری معرفی شده">
                                </app-filter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="goToEdit(item.id)" *ngFor="let item of theViewList">
                            <td class="text-end pr-2 fs-08" scope="row">
                                {{item.userType}}
                            </td>
                            <td class="text-end pr-2 fs-08">
                                {{item.brand}}
                            </td>
                            <td class="text-center fs-08">
                                {{item.commissionBasis}}
                            </td>
                            <td class="text-center fs-08">
                                {{item.customerDiscountRange}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-sm-3">
            <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
                type="submit">
                تعریف کد جدید
            </button>
        </div>
    </div>
</div>