<form [formGroup]="customerGroupService.form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold fs-20px text-black">
          مدیریت سطوح و گروه مشتری
        </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              برند :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.brandsSingle$|async" [multiple]="false" appendTo="body"
              bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="brandId">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              نوع کاربری :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.userTypes$|async" [multiple]="true" appendTo="body" bindLabel="title"
              (change)="customerGroupService.brandChanged($event,'userTypeIds')" bindValue="id"
              class="form-control mb-3" formControlName="userTypeIds">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              سطح فعلی :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.customerLevel$|async" [multiple]="false" appendTo="body"
              bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="currentLevelId">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-6 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              با تعداد فعالیت :
            </label>
          </div>
          <div class="col-6 col-sm-3">
            <input class="form-control rounded-pill text-center" type="text" formControlName="activityCount"
              mask="separator" thousandSeparator=",">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-6 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              با حجم امتیاز :
            </label>
          </div>
          <div class="col-6 col-sm-9">
            <div class="d-flex flex-row align-items-center">
              <div>
                <img alt="" src="assets/img/icons/greater.svg">
              </div>
              <div class="mr-1">
                <input class="form-control rounded-pill text-start" placeholder="امتیاز" type="text" mask="separator"
                  thousandSeparator="," formControlName="scoreThreshold">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              تبدیل به سطح :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.customerLevel$|async" [multiple]="false" appendTo="body"
              bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="newLevelId">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-06">
              قرار گیری در گروه مشتری :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.customerGroups$|async" [multiple]="false" appendTo="body"
              bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="customGroupId">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6 col-sm-2">
        <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
          (click)="customerGroupService.submit()">
          اعمال
        </button>
      </div>
      <div class="col-6 col-sm-2">
        <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
          (click)="backToList()">
          انصراف
        </button>
      </div>
    </div>
  </div>
</form>
