<div dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h5 class="font-yekan-bold fs-20px text-black">
          مشاهده
        </h5>
      </div>
    </div>
    <div *ngIf="theViewList.length>0||activeFilterName!==0" class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-spacing-xs border-0">
            <thead>
              <tr>
                <th class="text-end font-yekan-bold fs-08 th-app-table" scope="col"
                  *ngFor="let headerItem of headerItems;">
                  <app-table-header-filter [activeFilterName]="activeFilterName" [filterName]="headerItem"
                    (onOpenFilterForm)="openFilterForm($event)" (onCloseFilterForm)="closeFilterForm($event)"
                    (onApplyFilterForm)="applyFilterForm($event)">
                  </app-table-header-filter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="goToEdit(item.id)" *ngFor="let item of theViewList;let i=index">
                <td class="pr-1 text-end padding-05 pr-1" scope="row">
                  {{((pageIndex-1)*pageSize)+(i+1)}}
                </td>
                <td class="pr-1 text-end  fs-08">
                  {{item.phone}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.brands.join('، ')}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.userType}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.group}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.score}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.registerDate.full}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <app-pagination [pageSize]="pageSize" [totalPages]="service.totalPages" [pageIndex]="pageIndex"
        (notifyPageIndex)="selectedPageIndex($event)">
      </app-pagination>
    </div>
    <div *ngIf="theViewList.length==0" class="row mt-6">
      <div class="col-12">
        <div class="pr-1 text-end font-yekan-bold text-black fs-09">
          مشتریان شما به محض ثبت نام، در این صفحه نمایش داده می شود.
        </div>
        <div class="pr-1 text-end font-yekan-bold text-gray-500 mt-2 fs-08">
          برای مشاهده مشتریان لازم است کاربران در حداقل یکی از وبسایت های شما ثبت نام کرده باشند
        </div>
        <div class="pr-1 text-end mt-4">
          <img alt="Empty page" src="assets/img/icons/empty.png">
        </div>
      </div>
    </div>
  </div>
</div>
