<form action="" dir="rtl">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
مشاهده
        </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <table class="table table-hover border-0" cellspacing="1">
          <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">نام گروه مشتری</th>
            <th scope="col">تاریخ انقضای گروه مشتری موقت</th>
            <th scope="col">عملیات</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td scope="row">1</td>
            <td>سیبیلوها</td>
            <td>29 اسفند 1401</td>
            <td>
              حذف
            </td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>تهرانی ها</td>
            <td>30 تیر 1401</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>عشق پیتزاها</td>
            <td>25 خرداد 1400</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>قهر کرده ها</td>
            <td>20 مهر 1401</td>
            <td>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>

