<form action="" dir="rtl" *ngIf="isInListRoute">
  <ul class="nav justify-content-start mt-3">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/main/news/all-comments']" routerLinkActive="active">
        همه دیدگاه ها
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/main/news/confirmed-comments']" routerLinkActive="active">
        تایید شده ها
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/main/news/awaiting-confirmation-comments']" routerLinkActive="active">
        در انتظار تایید
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/main/news/spam-comments']" routerLinkActive="active">
        هرزنامه
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/main/news/garbage-comments']" routerLinkActive="active">
        زباله
      </a>
    </li>
  </ul>
  <hr class="nav-line">

</form>



<router-outlet></router-outlet>
