<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-hover border-0" cellspacing="1">
        <thead>
        <tr>
          <th scope="col" class="text-center">برند</th>
          <th scope="col" class="text-center">نوع کاربری</th>
          <th scope="col" class="text-center">پایه پورسانت</th>
          <th scope="col" class="text-center">بازه تخفیف مشتری معرفی شده</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">خیلی سبز</td>
          <td class="text-center">توزیع کننده</td>
          <td class="text-center">40%</td>
          <td class="text-center">از 10% تا 30%</td>
        </tr>
        <tr>
          <td class="text-center">منتشران</td>
          <td class="text-center">توزیع کننده</td>
          <td class="text-center">40%</td>
          <td class="text-center">از 5% تا 15%</td>
        </tr>
        <tr>
          <td class="text-center">گاج</td>
          <td class="text-center">توزیع کننده</td>
          <td class="text-center">40%</td>
          <td class="text-center">از 25% تا 35%</td>
        </tr>
        <tr>
          <td class="text-center">خیلی سبز</td>
          <td class="text-center">توزیع کننده</td>
          <td class="text-center">40%</td>
          <td class="text-center">از 10% تا 13%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
