<div class="d-flex">

  <div class="switch-container p-0 d-flex flex-row justify-content-around flex-shrink-1">
    <div (click)="selection(0)" [class.switch-selected]="index===0" class="switch  flex-shrink-1 px-3">
      {{labelOne}}
    </div>
    <div (click)="selection(1)" [class.switch-selected]="index===1" class="switch  flex-shrink-1 px-3">
      {{labelTwo}}
    </div>

    <div *ngIf="labelThree" (click)="selection(2)" [class.switch-selected]="index===2"
      class="switch  flex-shrink-1 px-3">
      {{labelThree}}
    </div>
  </div>

</div>
