<form action="" dir="rtl">
  <ul class="nav justify-content-start mt-3">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/admin/main/settings/discount']"
         routerLinkActive="active">
        تنظیمات کد تخفیف
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/admin/main/settings/behavioral']"
         routerLinkActive="active">
        فعالیت های سناریو رفتاری
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/admin/main/settings/period']"
         routerLinkActive="active">
        بازه زمانی ریست سطوح مشتری
      </a>
    </li>
  </ul>
  <hr class="nav-line">
  <router-outlet></router-outlet>
</form>

