<div dir="rtl">
  <div class="container-fluid">
    <div *ngIf="theViewList.length>0||(activeFilterName!==0&&activeFilterName!==13&&activeFilterName!==5)"
      class="row mt-4">
      <h5 class="font-yekan-bold fs-20px text-black">
        سایر قرارداد های ترویج دهنده
      </h5>
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-spacing-xs border-0">
            <thead>
              <tr>
                <th class="text-end font-yekan-bold fs-08 th-app-table" scope="col"
                  *ngFor="let headerItem of headerItems;">
                  <app-table-header-filter [activeFilterName]="activeFilterName" [filterName]="headerItem"
                    (onOpenFilterForm)="openFilterForm($event)" (onCloseFilterForm)="closeFilterForm($event)"
                    (onApplyFilterForm)="applyFilterForm($event)">
                  </app-table-header-filter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="goToEdit(item.contractId)" *ngFor="let item of theViewList;let i=index">
                <td class="pr-1 text-end padding-05 pr-1" scope="row">
                  {{((pageIndex-1)*pageSize)+(i+1)}}
                </td>

                <td class="pr-1 text-end fs-08">
                  {{item.mobile}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.userType}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.brand}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.tags}}
                </td>
                <td class="pr-1 text-end fs-08">
                  {{item.dateFrom.full}}-{{item.dateTo.full}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <app-pagination [pageSize]="pageSize" [totalPages]="service.totalPages" [pageIndex]="pageIndex"
        (notifyPageIndex)="selectedPageIndex($event)">
      </app-pagination>
    </div>
  </div>
</div>
