<form [formGroup]="scenarioService.form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نام سناریو :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <input formControlName='title' class="form-control rounded-pill text-end text-black" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  بازه زمانی :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-3 align-items-center">
                  <span class="text-black fs-09">
                    از
                  </span>
                  <div class="mt-1">
                    <input class="form-control rounded-pill text-center text-black" type="text" dir="ltr"
                      #datepickerInput1 />
                    <ng-persian-datepicker [input]="datepickerInput1" [dateOnSelect]="scenarioService.onSelectStartDate"
                      [uiTodayBtnEnable]="true" [dateValue]="scenarioService.startDate" [uiYearView]="true"
                      [uiMonthView]="true" [timeEnable]="true" [timeShowSecond]="true"
                      dateFormat="jYYYY/jMM/jDD HH:mm:ss">
                    </ng-persian-datepicker>
                  </div>
                  <span class="text-black fs-09">
                    تا
                  </span>
                  <div class="mt-1">
                    <input class="form-control rounded-pill text-center text-black" type="text" dir="ltr"
                      #datepickerInput2 />
                    <ng-persian-datepicker [input]="datepickerInput2" [dateValue]="scenarioService.endDate"
                      [dateOnSelect]="scenarioService.onSelectEndDate" [uiTodayBtnEnable]="true" [uiYearView]="true"
                      [uiMonthView]="true" [timeEnable]="true" [timeShowSecond]="true"
                      dateFormat="jYYYY/jMM/jDD HH:mm:ss">
                    </ng-persian-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  برند :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="scenarioService.brands$|async" [multiple]="true" appendTo="body" bindLabel="title"
                  formControlName="brandIds" bindValue="id" class="form-control mb-3">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  گروه مشتری :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="scenarioService.customerGroups$|async" [multiple]="true" appendTo="body"
                  bindLabel="title" formControlName="customerGroupIds" bindValue="id" class="form-control mb-3">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  حجم خرید :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-3 align-items-center">
                  <span class="text-black fs-09">
                    از
                  </span>
                  <div class="mt-1">
                    <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                      <input class="text-start text-black border-0 h-40px w-100" type="text"
                        formControlName='purchaseAmountMin'>
                      <div class="fs-08 text-gray-500">
                        تومان
                      </div>
                    </div>
                  </div>
                  <span class="text-black fs-09">
                    تا
                  </span>
                  <div class="mt-1">
                    <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                      <input class="text-start text-black border-0 h-40px w-100" type="text"
                        formControlName='purchaseAmountMax'>
                      <div class="fs-08 text-gray-500">
                        تومان
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نوبت خرید :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-2 align-items-center">
                  <div>
                    <input class="form-check-input" type="radio" [value]="1" formControlName="purchaseRoundType">
                    <label class="form-check-label mr-3-px cursor-pointer">
                      برای خرید مرتبهٔ
                    </label>
                  </div>
                  <div>
                    <input class="form-control rounded-pill w-80-px text-center text-black" type="text"
                      formControlName="purchaseRound">
                  </div>
                  <div class="fs-09 text-black">
                    کاربر، مستقل از سناریو
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-12 col-sm-3">
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-2 align-items-center">
                  <div>
                    <input class="form-check-input" type="radio" [value]="2" formControlName="purchaseRoundType">
                    <label class="form-check-label mr-3-px cursor-pointer">
                      برای خرید مرتبهٔ
                    </label>
                  </div>
                  <div>
                    <input class="form-control rounded-pill w-80-px text-center text-black" type="text"
                      formControlName="purchaseRound2">
                  </div>
                  <div class="fs-09 text-black">
                    کاربر، در بازه سناریو
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 col-sm-3">
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-2">
                  <div class="mr-3-px">
                    <input class="form-check-input" type="radio" [value]="3" formControlName="purchaseRoundType">
                    <label class="form-check-label mr-3-px cursor-pointer">
                      مستقل از نوبت خرید کاربر
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  گروه کالا :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="scenarioService.productGroups$|async" [multiple]="true" appendTo="body"
                  bindLabel="title" formControlName="productGroupIds" bindValue="id" class="form-control mb-3">
                </ng-select>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نوع کاربری :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="scenarioService.userTypes$|async" [multiple]="true" appendTo="body"
                  bindLabel="title" formControlName="userTypeIds" bindValue="id" class="form-control mb-3">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div formGroupName="purchaseReward">
      <div class="row mt-4">
        <div class="col-12">
          <span class="font-yekan-bold h5 text-black">
            جوایز
          </span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="d-flex flex-row align-items-center mt-3">
                <input checked class="form-check-input" type="checkbox" formControlName='sendingDiscountReward'>
                <label class="form-check-label mr-1 cursor-pointer">
                  تخفیف هزینه ارسال
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100" type="text"
                  formControlName='sendingDiscount'>
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input checked class="form-check-input" name="basketDiscountReward" type="checkbox"
                  formControlName="basketDiscountReward">
                <label class="form-check-label mr-1 cursor-pointer">
                  تخفیف سبد خرید
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100" type="text"
                  formControlName="basketDiscountPercent">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  سبد خرید تا سقف
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100" type="text"
                  formControlName="basketDiscountThreshold">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-2">
              <div class="d-flex flex-row align-items-center mt-3">
                <input checked class="form-check-input" name="productDiscountReward" type="checkbox"
                  formControlName="productDiscountReward">
                <label class="form-check-label mr-1 cursor-pointer">
                  تخفیف کالا
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-2">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100" type="text"
                  formControlName="productDiscountPercent">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-2">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  برای کالای
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-5">
              <ng-select [items]="scenarioService.products$|async" [multiple]="true" appendTo="body" bindLabel="title"
                bindValue="id" class="form-control mb-3">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input checked class="form-check-input" name="addFreeProductReward" type="checkbox"
                  formControlName="addFreeProductReward">
                <label class="form-check-label mr-1 cursor-pointer">
                  افزودن کالای رایگان به سبدخرید
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <ng-select [multiple]="true" appendTo="body" bindLabel="name" class="form-control mb-3">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input checked class="form-check-input" name="refundReward" type="checkbox"
                  formControlName="refundReward">
                <label class="form-check-label mr-1 cursor-pointer">
                  بازگشت وجه
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100" type="text" formControlName="refundPercent">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  سبد خرید تا سقف
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-start text-black border-0 h-40px w-100" type="text"
                  formControlName="refundThreshold">
                <div class="fs-08 text-gray-500">
                  تومان
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input checked class="form-check-input" name="increasScoreReward" type="checkbox"
                  formControlName="increasScoreReward">
                <label class="form-check-label mr-1 cursor-pointer">
                  افزایش امتیاز
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100" type="text"
                  formControlName="increaseScorePercent">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  سبد خرید تا سقف
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-start text-black border-0 h-40px w-100" type="text"
                  formControlName="increaseScoreThreshold">
                <div class="fs-08 text-gray-500">
                  امتیاز
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="d-flex flex-row align-items-center mt-3">
                <input checked class="form-check-input" name="discountCodeReward" type="checkbox"
                  formControlName="discountCodeReward">
                <label class="form-check-label mr-1 cursor-pointer">
                  کد تخفیف برای خرید بعدی
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-2">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-start text-black border-0 h-40px w-100" type="text"
                  formControlName="discountCodePercent">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  سبد خرید تا سقف
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-start text-black border-0 h-40px w-100" type="text"
                  formControlName="discountCodeThreshold">
                <div class="fs-08 text-gray-500">
                  تومان
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 mt-3 mt-sm-0">
          <div class="d-flex flex-row gap-3 align-items-center">
            <div class="fs-09 text-black">
              معتبر تا
            </div>
            <div>
              <input checked class="form-check-input" name="discountCodeValidationType"
                formControlName="discountCodeValidationType" [value]="1" type="radio">
            </div>
            <div>
              <input #datepickerInput3 class="form-control rounded-pill text-center text-black" dir="ltr" type="text" />
              <ng-persian-datepicker [dateOnSelect]="scenarioService.onSelectExpierDate" [input]="datepickerInput3"
                [dateValue]="scenarioService.expierDate" [uiTodayBtnEnable]="true" [uiYearView]="true"
                [uiMonthView]="true" [timeEnable]="true" [timeShowSecond]="true" dateFormat="jYYYY/jMM/jDD HH:mm:ss">
              </ng-persian-datepicker>
            </div>
          </div>
          <div class="d-flex flex-row gap-3 align-items-center mt-3">
            <div class="mr-4">
              <input checked class="form-check-input" name="discountCodeValidationType"
                formControlName="discountCodeValidationType" [value]="2" type="radio">
            </div>
            <div>
              <input class="form-control rounded-pill w-80-px text-end text-black" type="text"
                formControlName="discountCodeDaysAfterIssuedCode">
            </div>
            <div class="fs-09 text-black">
              روز پس از صدور کد
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
