<form [formGroup]="scenarioService.form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نام سناریو :
                  <span class="text-danger">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                  class="form-control rounded-pill text-end text-black h-55px" formControlName='title' type="text">
                <div
                  *ngIf="!scenarioService.form.get('title')?.valid && scenarioService.form.get('title')?.touched && !isDisabled"
                  class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                  نام سناریو را وارد نمایید
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  بازه زمانی :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-3 align-items-center">
                  <span class="text-black fs-09">
                    از
                  </span>
                  <div class="mt-1">
                    <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                      [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                      <input [dropSpecialCharacters]="false" [leadZeroDateTime]="true"
                        class="form-control h-55px rounded-pill text-center text-black" dir="ltr"
                        formControlName="startDate" mask="0000/M0/d0" type="text" />
                    </ng-persian-datepicker>
                  </div>
                  <span class="text-black fs-09">
                    تا
                  </span>
                  <div class="mt-1">
                    <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                      [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                      <input [dropSpecialCharacters]="false" [leadZeroDateTime]="true"
                        class="form-control h-55px rounded-pill text-center text-black" dir="ltr"
                        formControlName="endDate" mask="0000/M0/d0" type="text" />
                    </ng-persian-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  برند :
                  <span class="text-danger">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select (change)="scenarioService.brandChanged($event,'brandIds')"
                  [items]="baseInfoService.brands$|async" [multiple]="true" [readonly]="isDisabled" appendTo="body"
                  bindLabel="title" bindValue="id" class="form-control" formControlName="brandIds">
                </ng-select>
                <div
                  *ngIf="!scenarioService.form.get('brandIds')?.valid && scenarioService.form.get('brandIds')?.touched && !isDisabled"
                  class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                  برند را مشخص نمایید
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  مشتری :
                  <span class="text-danger">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select (change)="scenarioService.brandChanged($event,'generalCustomers')"
                  [addTag]="scenarioService.addCustomer" [items]="baseInfoService.generalCustomersByBrandId$|async"
                  [multiple]="true" [readonly]="isDisabled" appendTo="body" bindLabel="title" bindValue="id"
                  class="form-control" formControlName="generalCustomers">
                </ng-select>
                <div
                  *ngIf="!scenarioService.form.get('generalCustomers')?.valid && scenarioService.form.get('generalCustomers')?.touched && !isDisabled"
                  class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                  مشتری را مشخص نمایید
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-4">
                  حجم خرید :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-3 align-items-center">
                  <span class="text-black fs-09">
                    از
                  </span>
                  <div class="mt-1">
                    <div [ngClass]="{'disabled':isDisabled}"
                      class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                      <input [readOnly]="isDisabled" class="text-start text-black border-0 h-40px w-100"
                        formControlName='purchaseAmountMin' mask="separator" thousandSeparator="," type="text">
                      <div class="fs-08 text-gray-500">
                        تومان
                      </div>
                    </div>
                  </div>
                  <span class="text-black fs-09">
                    تا
                  </span>
                  <div class="mt-1">
                    <div [ngClass]="{'disabled':isDisabled}"
                      class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                      <input [readOnly]="isDisabled" class="text-start text-black border-0 h-40px w-100"
                        formControlName='purchaseAmountMax' mask="separator" thousandSeparator="," type="text">
                      <div class="fs-08 text-gray-500">
                        تومان
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نوبت خرید :
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-2 align-items-center">
                  <div class="d-flex align-items-center">
                    <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="1"
                      class="form-check-input" formControlName="purchaseRoundType" id="purchaseRoundTypeOne"
                      name="purchaseRoundType" type="radio">
                    <label class="form-check-label mr-3-px cursor-pointer" for="purchaseRoundTypeOne">
                      برای خرید مرتبهٔ
                    </label>
                  </div>
                  <div>
                    <input #purchaseRound [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                      class="form-control h-55px rounded-pill w-80-px text-center text-black"
                      formControlName="purchaseRound1" mask="separator" thousandSeparator="," type="text">
                  </div>
                  <div class="fs-09 text-black">
                    کاربر، مستقل از سناریو
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-12 col-sm-3">
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-2 align-items-center">
                  <div class="d-flex align-items-center">
                    <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="2"
                      class="form-check-input" formControlName="purchaseRoundType" id="purchaseRoundTypeTwo"
                      name="purchaseRoundType" type="radio">
                    <label class="form-check-label mr-3-px cursor-pointer" for="purchaseRoundTypeTwo">
                      برای خرید مرتبهٔ
                    </label>
                  </div>
                  <div>
                    <input #purchaseRound2 [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                      class="form-control h-55px rounded-pill w-80-px text-center text-black"
                      formControlName="purchaseRound2" mask="separator" thousandSeparator="," type="text">
                  </div>
                  <div class="fs-09 text-black">
                    کاربر، در بازه سناریو
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 col-sm-3">
              </div>
              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-2">
                  <div class="mr-3-px d-flex align-items-center">
                    <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="3"
                      class="form-check-input" formControlName="purchaseRoundType" id="purchaseRoundTypeThree"
                      name="purchaseRoundType" type="radio">
                    <label class="form-check-label mr-3-px cursor-pointer" for="purchaseRoundTypeThree">
                      مستقل از نوبت خرید کاربر
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  تگ کالا:
                  <span class="text-danger">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select (change)="scenarioService.brandChanged($event,'productGroupIds')"
                  [items]="baseInfoService.productGroups$|async" [multiple]="true" [readonly]="isDisabled"
                  appendTo="body" bindLabel="title" bindValue="id" class="form-control"
                  formControlName="productGroupIds">
                </ng-select>
                <div
                  *ngIf="!scenarioService.form.get('productGroupIds')?.valid && scenarioService.form.get('productGroupIds')?.touched && !isDisabled"
                  class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                  تگ کالا را مشخص نمایید
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نوع کاربری :
                  <span class="text-danger">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select (change)="scenarioService.brandChanged($event,'userTypeIds')"
                  [items]="baseInfoService.userTypes$|async" [multiple]="true" [readonly]="isDisabled" appendTo="body"
                  bindLabel="title" bindValue="id" class="form-control" formControlName="userTypeIds">
                </ng-select>
                <div
                  *ngIf="!scenarioService.form.get('userTypeIds')?.valid && scenarioService.form.get('userTypeIds')?.touched && !isDisabled"
                  class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                  نوع کاربری را مشخص نمایید
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div formGroupName="purchaseReward">
      <div class="row mt-4">
        <div class="col-12">
          <span class="font-yekan-bold h5 text-black">
            جوایز
          </span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName='sendingDiscountReward' id="sendingDiscountReward" type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer" for="sendingDiscountReward">
                  تخفیف هزینه ارسال
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled,'border-red':percent>100}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [(ngModel)]="percent" [readOnly]="isDisabled"
                  class="text-center text-black border-0 h-40px w-100 mr-8-px" formControlName='sendingDiscount'
                  thousandSeparator="," type="text">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
              <div *ngIf="percent>100 && !isDisabled" class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                مقدار نامعتبر
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="basketDiscountReward" id="basketDiscountReward" name="basketDiscountReward"
                  type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer" for="basketDiscountReward">
                  تخفیف سبد خرید
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100 mr-8-px"
                  formControlName="basketDiscountPercent" mask="percent" thousandSeparator="," type="text">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  سبد خرید تا سقف
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100" formControlName="basketDiscountThreshold"
                  mask="separator" thousandSeparator="," type="text">
                <div class="fs-08 text-gray-500">
                  تومان
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-2">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="productDiscountReward" id="productDiscountReward" name="productDiscountReward"
                  type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer" for="productDiscountReward">
                  تخفیف کالا
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-2">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100 mr-8-px"
                  formControlName="productDiscountPercent" mask="percent" thousandSeparator="," type="text">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-2">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  برای کالای
                </label>
              </div>
            </div>
            <div [formGroup]="scenarioService.form" class="col-4 col-sm-5">
              <ng-select (change)="scenarioService.brandChanged($event,'productGroups')"
                [addTag]="scenarioService.addProductGroups" [items]="baseInfoService.productGroups$|async"
                [multiple]="true" [readonly]="isDisabled" appendTo="body" bindLabel="title" bindValue="id"
                class="form-control" formControlName="productGroups">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="addFreeProductReward" id="addFreeProductReward" name="addFreeProductReward"
                  type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer" for="addFreeProductReward">
                  افزودن کالای رایگان به سبد خرید
                </label>
              </div>
            </div>
            <div [formGroup]="scenarioService.form" class="col-12 col-sm-4">
              <ng-select [addTag]="scenarioService.addFreeProduct" [items]="baseInfoService.productCodes$|async"
                [multiple]="true" [readonly]="isDisabled" appendTo="body" class="form-control"
                formControlName="freeProductCodes">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="refundReward" id="refundReward" name="refundReward" type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer" for="refundReward">
                  بازگشت وجه
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100 mr-8-px" formControlName="refundPercent"
                  mask="percent" thousandSeparator="," type="text">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  سبد خرید تا سقف
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-start text-black border-0 h-40px w-100" formControlName="refundThreshold"
                  mask="separator" thousandSeparator="," type="text">
                <div class="fs-08 text-gray-500">
                  تومان
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="increasScoreReward" id="increasScoreReward" name="increasScoreReward"
                  type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer" for="increasScoreReward">
                  افزایش امتیاز
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-center text-black border-0 h-40px w-100 mr-8-px"
                  formControlName="increaseScorePercent" mask="percent" thousandSeparator="," type="text">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  سبد خرید تا سقف
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input class="text-start text-black border-0 h-40px w-100" formControlName="increaseScoreThreshold"
                  mask="separator" thousandSeparator="," type="text">
                <div class="fs-08 text-gray-500">
                  امتیاز
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="discountCodeReward" name="discountCodeReward" type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer">
                  کد تخفیف برای خرید بعدی
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-2">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">

                <ng-select [items]="baseInfoService.senarioDiscountCodePatterns$|async" [multiple]="false"
                  [readonly]="isDisabled" appendTo="body" bindLabel="title" bindValue="id" class="form-control"
                  formControlName="discountCodePattern">
                </ng-select>
                <div
                  *ngIf="!scenarioService.form.get('discountCodePattern')?.valid && scenarioService.form.get('discountCodePattern')?.touched && !isDisabled"
                  class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                  کد تخفیف را مشخص نمایید
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 mt-3 mt-sm-0">
          <div class="d-flex flex-row gap-3 align-items-center">
            <div class="fs-09 text-black">
              معتبر تا
            </div>
            <div>
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="1" checked
                class="form-check-input" formControlName="discountCodeValidationType" name="discountCodeValidationType"
                type="radio">
            </div>
            <div>
              <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                <input #datepickerInput3 [dropSpecialCharacters]="false" [dropSpecialCharacters]="false"
                  [leadZeroDateTime]="true" class="form-control rounded-pill text-center text-black h-55px" dir="ltr"
                  formControlName="expierDate" mask="0000/M0/d0" type="text" />
              </ng-persian-datepicker>
            </div>
          </div>
          <div class="d-flex flex-row gap-3 align-items-center mt-3">
            <div class="mr-4">
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="2" checked
                class="form-check-input" formControlName="discountCodeValidationType" name="discountCodeValidationType"
                type="radio">
            </div>
            <div>
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                class="form-control rounded-pill w-80-px h-55px text-center text-black"
                formControlName="discountCodeDaysAfterIssuedCode" mask="separator" thousandSeparator="," type="text">
            </div>
            <div class="fs-09 text-black">
              روز پس از صدور کد
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
