<div dir="rtl">
  <div class="container-fluid">
    <div *ngIf="theViewList.length>0||activeFilterName!==0" class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-0 border-spacing-xs">
            <thead>
              <tr>
                <th class="text-end font-yekan-bold fs-08 th-app-table" scope="col"
                  *ngFor="let headerItem of headerItems;">
                  <app-table-header-filter [activeFilterName]="activeFilterName" [filterName]="headerItem"
                    (onOpenFilterForm)="openFilterForm($event)" (onCloseFilterForm)="closeFilterForm($event)"
                    (onApplyFilterForm)="applyFilterForm($event)">
                  </app-table-header-filter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let discount of theViewList;let i=index;">
                <td class="pr-1 text-end" scope="row">
                  {{((pageIndex-1)*pageSize)+(i+1)}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  {{discount.code}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  {{discount.volume}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  {{discount.brands.length>0? discount.brands.join('،'):'همه'}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  {{discount.periodMax.full}}-{{discount.periodMin.full}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  <div (click)="goToEdit(discount.discountCodeId)" *ngIf="discount.discountCodeId">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-link-45deg" viewBox="0 0 16 16">
                      <path
                        d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                      <path
                        d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
                    </svg>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <app-pagination [pageSize]="pageSize" [totalPages]="service.totalPages" [pageIndex]="pageIndex"
        (notifyPageIndex)="selectedPageIndex($event)">
      </app-pagination>
    </div>
    <div *ngIf="!theViewList||theViewList?.length===0" class="row mt-6">
      <div class="col-12">
        <div class="text-center font-yekan-bold text-black fs-09">
          کدهای تخفیف شما به محض ایجاد، در این صفحه نمایش داده می‌شود.
        </div>
        <div class="text-center font-yekan-bold text-gray-500 mt-2 fs-09">
          از دکمه زیر برای ایجاد یک کد تخفیف جدید استفاده کنید.
        </div>
        <div class="text-center mt-4">
          <img alt="Empty page" src="assets/img/icons/empty.png">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-3">
        <button (click)="goToEdit('')"
          class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl" type="submit">
          ایجاد کد تخفیف
        </button>
      </div>
    </div>
  </div>
</div>
<br>
