<form action="" dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold fs-20px text-black">
          جزئیات مشتری
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column">
          <div class="text-black font-yekan-bold">
            {{customer.phone}}
          </div>
          <div class="text-black fs-09 mt-2">
            فاطمه اصلانی
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column text-end text-sm-center">
          <div class="text-black font-yekan-bold">
            {{customer.userType}}
          </div>
          <div class="text-black fs-09 mt-2">
            نوع کاربری
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column text-end text-sm-center">
          <div class="text-black font-yekan-bold">
            {{customer.brands?.join('، ')}}
          </div>
          <div class="text-black fs-09 mt-2">
            مخاطب برند(ها)
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column text-end text-sm-start">
          <div class="text-black font-yekan-bold">
            {{customer.registerDate?.full}}
          </div>
          <div class="text-black fs-09 mt-2">
            تاریخ عضویت
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mt-4">
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column lh-lg">
          <div class="text-black font-yekan-bold">
            گروه کنونی مشتری:
          </div>
          <div class="text-black fs-09 mt-2" *ngFor="let cGroup of customer.currentGroups;let i=index;">
            {{cGroup.brand}}:{{cGroup.group}}
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column lh-lg">
          <div class="text-black font-yekan-bold">
            سطح کنونی مشتری:
          </div>
          <div class="text-black fs-09 mt-2" *ngFor="let cLevel of customer.currentLevels;let i=index;">
            {{cLevel.brand}}:{{cLevel.level}}
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column lh-lg">
          <div class="text-black font-yekan-bold">
            گروه مشتری در آغاز دوره بعد:
          </div>
          <div class="text-black fs-09 mt-2" *ngFor="let cGroup of customer.nextGroups;let i=index;">
            {{cGroup.brand}}:{{cGroup.group}}
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column lh-lg">
          <div class="text-black font-yekan-bold">
            سطح مشتری در آغاز دوره بعد:
          </div>
          <div class="text-black fs-09 mt-2" *ngFor="let cLevel of customer.nextLevels;let i=index;">
            {{cLevel.brand}}:{{cLevel.level}}
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mt-4">
      <div class="col-12">
        <span class="font-yekan-bold h6 text-black">
          امتیاز ها:
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-row align-items-center">
          <div class="text-black fs-09">
            امتیاز فعلی کاربر:
            <span class="mr-1">
              {{customer.currentScore | mask: 'separator':','}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-row align-items-center">
          <div class="text-black fs-09">
            کل امتیازات بدست آورده:
            <span class="mr-1">
              {{customer.earningScore | mask: 'separator':','}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column text-center">
          <div class="text-black fs-09">
            کل امتیازات خرج کرده:
            <span class="mr-1">
              {{customer.expendingScore | mask: 'separator':','}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column text-start">
          <div (click)="showHistoryToggle()" class="text-black fs-09 cursor-pointer">
            مشاهده تاریخچه امتیازها
            <span class="mr-1">
              <i class="fa fa-chevron-left" *ngIf="!showHistory"></i>
              <i class="fa fa-chevron-down" *ngIf="showHistory"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showHistory" class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-spacing-xs border-0">
            <thead>
              <tr>
                <th class="text-center font-yekan-bold pr-1 fs-08" scope="col">
                  ردیف
                </th>
                <th class="text-end pr-1 font-yekan-bold fs-08" scope="col">
                  تاریخ
                </th>
                <th class="text-end font-yekan-bold fs-08" scope="col">
                  شرح
                </th>
                <th class="text-end font-yekan-bold fs-08" scope="col">
                  عملیات
                </th>
                <th class="text-center font-yekan-bold fs-08" scope="col">
                  امتیاز
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customerSubGrid of subCustomerDetailList;let i=index;">
                <td class="text-center pr-1" scope="row">
                  {{pageIndex+i}}
                </td>
                <td class="text-end pr-1 fs-08">
                  {{customerSubGrid?.date?.full}}
                </td>
                <td class="text-end fs-08">
                  {{customerSubGrid?.desctiption?.title}} ({{customerSubGrid?.desctiption?.brand}})
                </td>
                <td class="text-end fs-08">
                  {{customerSubGrid?.operation}}
                </td>
                <td class="text-center fs-08">
                  {{customerSubGrid?.score}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr>
    <ng-container *ngIf="customer.isPromoter">
      <div class="d-flex flex-row justify-content-between mt-4">
        <div class="font-yekan-bold h6 text-black ml-auto">
          کدهای تخفیف :
        </div>
        <div class="mr-auto font-yekan-bold h6 text-black  cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus-circle color-app-blue" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          <span class="color-app-orange mr-3-px" (click)="createNewDiscountCode()">
            ایجاد کد تخفیف
          </span>
        </div>
      </div>
      <div class="d-flex flex-column" *ngFor="let customerInfo of customerInfoList">
        <div class="d-flex flex-row justify-content-between mt-4">
          <div class="d-flex flex-row align-items-center">
            <div class="text-black fs-09">
              کد های تخفیف فعال در برند {{customerInfo.brandName}}:
              <span>
                {{customerInfo.activeCodeCount | mask: 'separator':','}}
              </span>
            </div>
          </div>


          <div class="d-flex flex-row align-items-center">
            <div class="text-black fs-09">
              درصد پورسانت در برند:
              <span>
                {{customerInfo.commission | mask: 'separator':','}}%
              </span>
            </div>
          </div>


          <div class="d-flex flex-column text-start">
            <div (click)="customerInfo.showDiscountHistory=!customerInfo.showDiscountHistory"
              class="color-app-blue fs-09 cursor-pointer">
              مشاهده کدهای تخفیف
              <span class="mr-1">
                <i class="fa fa-chevron-left" *ngIf="!customerInfo.showDiscountHistory"></i>
                <i class="fa fa-chevron-down" *ngIf="customerInfo.showDiscountHistory"></i>
              </span>
            </div>
          </div>


          <div class="d-flex flex-column text-start">
            <div (click)="customerInfo.showCommissionHistory=!customerInfo.showCommissionHistory"
              class="fs-09 cursor-pointer color-app-blue">
              مشاهده تاریخچه پورسانت
              <span class="mr-1">
                <i class="fa fa-chevron-left" *ngIf="!customerInfo.showCommissionHistory"></i>
                <i class="fa fa-chevron-down" *ngIf="customerInfo.showCommissionHistory"></i>
              </span>
            </div>
          </div>
        </div>
        <app-customer-discount-history [customerInfo]="customerInfo" [customerId]="id"
          *ngIf="customerInfo.showDiscountHistory">
        </app-customer-discount-history>
        <app-customer-commission-history [customerInfo]="customerInfo" [customerId]="id"
          *ngIf="customerInfo.showCommissionHistory">
        </app-customer-commission-history>
      </div>

      <hr class="mt-4">
    </ng-container>
    <div class="row mt-4">
      <div class="col-12">
        <span class="font-yekan-bold h6 text-black">
          سناریوهای شامل حال:
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-spacing-xs border-0">
            <thead>
              <tr>
                <th class="text-end font-yekan-bold fs-08 th-app-table" scope="col"
                  *ngFor="let headerItem of headerItems;">
                  <app-table-header-filter [activeFilterName]="activeFilterName" [filterName]="headerItem"
                    (onOpenFilterForm)="openFilterForm($event)" (onCloseFilterForm)="closeFilterForm($event)"
                    (onApplyFilterForm)="applyFilterForm($event)">
                  </app-table-header-filter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let scenario of customerScenarioList;let i= index;">
                <td class="text-center pr-1" scope="row">
                  {{scenario.rewards?.join('، ')}}
                  <span class="mr-1 text-muted">
                    {{(scenario.title)}}
                  </span>
                </td>
                <td class="text-end pr-1 fs-08">
                  از
                  {{scenario.minDate?.full}}
                  تا
                  {{scenario.maxDate?.full}}
                </td>
                <td class="text-end fs-08">
                  {{scenario.brands.join('، ')}}
                </td>
                <td class="text-start fs-08">
                  <app-state-status-view [status]="scenario?.status?.toString()??'0'" [statusType]="2">
                  </app-state-status-view>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
