<form [formGroup]="scenarioService.form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              نام سناریو :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
              class="form-control rounded-pill text-end text-black" formControlName="title" type="text">
            <div
              *ngIf="!scenarioService.form.get('title')?.valid && scenarioService.form.get('title')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              نام سناریو را وارد نمایید
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              برند :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="scenarioService.brands$|async" [multiple]="true" appendTo="body" bindLabel="title"
              bindValue="id" class="form-control mb-3" formControlName="brandIds" [readonly]="isDisabled">
            </ng-select>
            <div
              *ngIf="!scenarioService.form.get('brandIds')?.valid && scenarioService.form.get('brandIds')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              برند را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              بازه زمانی :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <span class="text-black fs-09">
                از
              </span>
              <div class="mt-1">
                <input #datepickerInput1 [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                  class="form-control rounded-pill text-center text-black" dir="ltr" type="text" />
                <ng-persian-datepicker [dateOnSelect]="scenarioService.onSelectStartDate"
                  [dateValue]="scenarioService.startDate" [input]="datepickerInput1" [timeEnable]="true"
                  [timeShowSecond]="true" [uiMonthView]="true" [uiTodayBtnEnable]="true" [uiYearView]="true"
                  dateFormat="jYYYY/jMM/jDD HH:mm:ss">
                </ng-persian-datepicker>
              </div>
              <span class="text-black fs-09">
                تا
              </span>
              <div class="mt-1">
                <input #datepickerInput2 [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                  class="form-control rounded-pill text-center text-black" dir="ltr" type="text" />
                <ng-persian-datepicker [dateOnSelect]="scenarioService.onSelectEndDate"
                  [dateValue]="scenarioService.endDate" [input]="datepickerInput2" [timeEnable]="true"
                  [timeShowSecond]="true" [uiMonthView]="true" [uiTodayBtnEnable]="true" [uiYearView]="true"
                  dateFormat="jYYYY/jMM/jDD HH:mm:ss">
                </ng-persian-datepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              نوع کاربری :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="scenarioService.userTypes$|async" [multiple]="true" appendTo="body" bindLabel="title"
              bindValue="id" class="form-control mb-3" formControlName="userTypeIds" [readonly]="isDisabled">
            </ng-select>
            <div
              *ngIf="!scenarioService.form.get('userTypeIds')?.valid && scenarioService.form.get('userTypeIds')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              نوع کاربری را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              گروه مشتری :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="scenarioService.customerGroups$|async" [multiple]="true" appendTo="body"
              bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="customerGroupIds"
              [readonly]="isDisabled">
            </ng-select>
            <div
              *ngIf="!scenarioService.form.get('customerGroupIds')?.valid && scenarioService.form.get('customerGroupIds')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              گروه مشتری را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              فعالیت :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="scenarioService.activity$|async" [multiple]="false" appendTo="body" bindLabel="title"
              bindValue="id" class="form-control mb-3" formControlName="activityId" [readonly]="isDisabled">
            </ng-select>
            <div
              *ngIf="!scenarioService.form.get('activityId')?.valid && scenarioService.form.get('activityId')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              فعالیت را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div formGroupName="behavioralReward">
      <div class="row mt-4">
        <div class="col-12">
          <span class="font-yekan-bold h5 text-black">
            جوایز
          </span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-3">
              <label class="float-end float-sm-start mt-2">
                نوع جایزه :
              </label>
            </div>
            <div class="col-6">
              <app-switch (notifySelectionSwitch)="scenarioService.behavioralRewardTypeChange($event)"
                [labelOne]="'خودکاربر'" [labelTwo]="'شخص ثالث'"></app-switch>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="increasScoreReward" type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer">
                  افزایش امتیاز
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-center text-black border-0 h-40px w-100"
                  formControlName="increaseScorePercent" type="text">
              </div>
            </div>
            <div class="col-12 col-sm-2">
              <div class="text-black text-start mt-4 fs-09">
                تا سقف
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-center text-black border-0 h-40px w-100"
                  formControlName="increaseScoreThreshold" type="text">
                <div class="fs-08 text-gray-500">
                  امتیاز
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-9">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="refundReward" type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer">
                  بازگشت وجه به کیف پول
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-start text-black border-0 h-40px w-100"
                  formControlName="refundToWalletPercent" type="text">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-2">
              <div class="text-black text-start mt-4 fs-09">
                تا سقف
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-start text-black border-0 h-40px w-100"
                  formControlName="refundToWalletThreshold" type="text">
                <div class="fs-08 text-gray-500">
                  تومان
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="discountCodeReward" type="checkbox">
                <label class="form-check-label mr-1 cursor-pointer">
                  کد تخفیف برای خرید بعدی
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-2">
              <div class="d-flex flex-row align-items-center">
                <div [ngClass]="{'disabled':isDisabled}"
                  class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                  <input [readOnly]="isDisabled" class="text-start text-black border-0 h-40px w-100"
                    formControlName="discountCodePercent" type="text">
                  <div class="fs-08 text-gray-500">
                    %
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div class="d-flex align-items-center mt-3">
                <label class="form-check-label mr-1 cursor-pointer">
                  سبد خرید تا سقف
                </label>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-start text-black border-0 h-40px w-100"
                  formControlName="discountCodeThreshold" type="text">
                <div class="fs-08 text-gray-500">
                  تومان
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 mt-3 mt-sm-0">
          <div class="d-flex flex-row gap-3 align-items-center">
            <div class="fs-09 text-black">
              معتبر تا
            </div>
            <div>
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="1" checked
                class="form-check-input" formControlName="discountCodeValidationType" type="radio">
            </div>
            <div>

              <ng-persian-datepicker [timeEnable]="true" [timeShowSecond]="true" [uiMonthView]="true"
                [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD HH:mm:ss">
                <input #datepickerInput3 [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                  formControlName="expierDate" class="form-control rounded-pill text-center text-black" dir="ltr"
                  type="text" />
              </ng-persian-datepicker>
            </div>
          </div>
          <div class="d-flex flex-row gap-3 align-items-center mt-3">
            <div class="mr-4">
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="2" checked
                class="form-check-input" formControlName="discountCodeValidationType" type="radio">
            </div>
            <div>
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                class="form-control rounded-pill w-80-px text-center text-black"
                formControlName="discountCodeValidationType" type="text">
            </div>
            <div class="fs-09 text-black">
              روز پس از صدور کد
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
