<form [formGroup]="scenarioService.form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              نام سناریو :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
              class="form-control rounded-pill text-end text-black h-55px" formControlName="title" type="text">
            <div
              *ngIf="!scenarioService.form.get('title')?.valid && scenarioService.form.get('title')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              نام سناریو را وارد نمایید
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              برند :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9 mb-3">
            <ng-select [items]="baseInfoService.brands$|async" [multiple]="true" appendTo="body" bindLabel="title"
              (change)="scenarioService.brandChanged($event,'brandIds')" bindValue="id" class="form-control"
              formControlName="brandIds" [readonly]="isDisabled">
            </ng-select>
            <div
              *ngIf="!scenarioService.form.get('brandIds')?.valid && scenarioService.form.get('brandIds')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              برند را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              بازه زمانی :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <span class="text-black fs-09">
                از
              </span>
              <div class="mt-1">
                <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                  [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                  <input formControlName="startDate" class="form-control rounded-pill h-55px text-center text-black"
                    dir="ltr" [dropSpecialCharacters]="false" mask="0000/M0/d0" [leadZeroDateTime]="true" type="text" />
                </ng-persian-datepicker>
              </div>
              <span class="text-black fs-09">
                تا
              </span>
              <div class="mt-1">
                <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                  [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                  <input formControlName="endDate" class="form-control rounded-pill h-55px text-center text-black"
                    dir="ltr" [dropSpecialCharacters]="false" mask="0000/M0/d0" [leadZeroDateTime]="true" type="text" />
                </ng-persian-datepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              نوع کاربری :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9 mb-3">
            <ng-select [items]="baseInfoService.userTypes$|async" [multiple]="true" appendTo="body" bindLabel="title"
              (change)="scenarioService.brandChanged($event,'userTypeIds')" bindValue="id" class="form-control"
              formControlName="userTypeIds" [readonly]="isDisabled">
            </ng-select>
            <div
              *ngIf="!scenarioService.form.get('userTypeIds')?.valid && scenarioService.form.get('userTypeIds')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              نوع کاربری را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              مشتری :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9 mb-3">
            <ng-select [items]="baseInfoService.generalCustomers$|async" [multiple]="true" appendTo="body"
              (change)="scenarioService.brandChanged($event,'generalCustomers')" [readonly]="isDisabled"
              bindLabel="title" bindValue="id" class="form-control" formControlName="generalCustomers"
              [addTag]="scenarioService.addCustomer">
            </ng-select>
            <div
              *ngIf="!scenarioService.form.get('generalCustomers')?.valid && scenarioService.form.get('generalCustomers')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              مشتری را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              فعالیت :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9 mb-3">
            <ng-select [items]="baseInfoService.activity$|async" [multiple]="false" appendTo="body" bindLabel="title"
              bindValue="id" class="form-control" formControlName="activityId" [readonly]="isDisabled">
            </ng-select>
            <div
              *ngIf="!scenarioService.form.get('activityId')?.valid && scenarioService.form.get('activityId')?.touched && !isDisabled"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              فعالیت را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div formGroupName="behavioralReward">
      <div class="row mt-4">
        <div class="col-12">
          <span class="font-yekan-bold h5 text-black">
            جوایز
          </span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-3">
              <label class="float-end float-sm-start mt-2">
                نوع جایزه :
              </label>
            </div>
            <div class="col-6">
              <app-switch (notifySelectionSwitch)="scenarioService.behavioralRewardTypeChange($event)"
                [isDisabled]="isDisabled" [labelOne]="'خودکاربر'" [labelTwo]="'شخص ثالث'"></app-switch>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="increasScoreReward" type="checkbox" id="increasScoreRewardId">
                <label class="form-check-label mr-1 cursor-pointer" for="increasScoreRewardId">
                  افزایش امتیاز
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-center text-black border-0 h-40px w-100 mr-8-px"
                  formControlName="increaseScorePercent" type="text" mask="separator" thousandSeparator=",">
              </div>
            </div>
            <div class="col-12 col-sm-2">
              <div class="text-black text-start mt-4 fs-09">
                تا سقف
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-center text-black border-0 h-40px w-100 mr-8-px"
                  formControlName="increaseScoreThreshold" type="text" mask="separator" thousandSeparator=",">
                <div class="fs-08 text-gray-500">
                  امتیاز
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-9">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="refundReward" type="checkbox" id="refundRewardId">
                <label class="form-check-label mr-1 cursor-pointer" for="refundRewardId">
                  بازگشت وجه به کیف پول
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-center text-black border-0 h-40px w-100"
                  formControlName="refundToWalletPercent" type="text" mask="percent" thousandSeparator=",">
                <div class="fs-08 text-gray-500">
                  %
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-2">
              <div class="text-black text-start mt-4 fs-09">
                تا سقف
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div [ngClass]="{'disabled':isDisabled}"
                class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                <input [readOnly]="isDisabled" class="text-start text-black border-0 h-40px w-100"
                  formControlName="refundToWalletThreshold" type="text" mask="separator" thousandSeparator=",">
                <div class="fs-08 text-gray-500">
                  تومان
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-8">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="d-flex flex-row align-items-center mt-3">
                <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" checked class="form-check-input"
                  formControlName="discountCodeReward" type="checkbox" id="discountCodeRewardId">
                <label class="form-check-label mr-1 cursor-pointer" for="discountCodeRewardId">
                  کد تخفیف برای خرید بعدی
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-2">
              <div class="d-flex flex-row align-items-center">
                <div [ngClass]="{'disabled':isDisabled}"
                  class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
                  <ng-select [items]="baseInfoService.senarioDiscountCodePatterns$|async" [multiple]="false"
                    [readonly]="isDisabled" appendTo="body" bindLabel="title" bindValue="id" class="form-control"
                    formControlName="discountCodePattern">
                  </ng-select>
                  <div
                    *ngIf="!scenarioService.form.get('discountCodePattern')?.valid && scenarioService.form.get('discountCodePattern')?.touched && !isDisabled"
                    class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                    کد تخفیف را مشخص نمایید
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 mt-3 mt-sm-0">
          <div class="d-flex flex-row gap-3 align-items-center">
            <label class="fs-09 text-black" for="discountCodeValidationTypeId">
              معتبر تا
            </label>
            <div>
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="1" checked
                class="form-check-input" formControlName="discountCodeValidationType" type="radio"
                id="discountCodeValidationTypeId">
            </div>
            <div>
              <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                <input #datepickerInput3 formControlName="expierDate" [dropSpecialCharacters]="false" mask="0000/M0/d0"
                  [dropSpecialCharacters]="false" [leadZeroDateTime]="true"
                  class="form-control rounded-pill text-center h-55px text-black" dir="ltr" type="text" />
              </ng-persian-datepicker>
            </div>
          </div>
          <div class="d-flex flex-row gap-3 align-items-center mt-3">
            <div class="mr-4">
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled" [value]="2" checked
                class="form-check-input" formControlName="discountCodeValidationType" type="radio">
            </div>
            <div>
              <input [ngClass]="{'disabled':isDisabled}" [readOnly]="isDisabled"
                class="form-control rounded-pill w-80-px h-55px text-center text-black"
                formControlName="discountCodeValidationType" type="text" mask="separator" thousandSeparator=",">
            </div>
            <div class="fs-09 text-black">
              روز پس از صدور کد
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
