<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <span class="font-yekan-bold fs-20px text-black">
        مشاهده
      </span>
    </div>
  </div>
  <div *ngIf="theViewList.length>0||activeFilterName!==0" class="row mt-4">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover border-0 border-spacing-xs" cellspacing="1">
          <thead>
            <tr>
              <th class="text-right font-yekan-bold fs-08" scope="col">ردیف</th>
              <th class="text-center font-yekan-bold fs-08" scope="col">
                <app-filter (applyEvent)="applyFilterForm($event,11)" (cancelEvent)="closeFilterForm($event,11)"
                  [items]="theFilterCustomerList" title="نام گروه مشتری">
                </app-filter>
              </th>
              <th class="text-end font-yekan-bold fs-08 cursor-pointer w-170-px" scope="col">
                <app-filter-date (applyEvent)="applyFilterForm($event,12)" (cancelEvent)="closeFilterForm($event,12)"
                  title="تاریخ انقضای گروه مشتری موقت">
                </app-filter-date>
              </th>
              <th class="text-right font-yekan-bold fs-08" scope="col">عملیات</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="goToEdit(item.id)" *ngFor="let item of theViewList;let i =index;">
              <td scope="row">{{pageIndex+i}}</td>
              <td>{{item.title}}</td>
              <td>{{item.expireDate.full}}</td>
              <td (click)="deleteItem($event,item.id)">
                حذف
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-pagination [pageSize]="pageSize" [total]="service.total" (notifyPageIndex)="selectedPageIndex($event)">
      </app-pagination>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 col-sm-4">
      <button (click)="goToEdit('')" class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block"
        dir="rtl" type="submit">
        گروه مشتری موقت جدید
      </button>
    </div>
  </div>
</div>
