<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <span class="font-yekan-bold h5 text-black">
        تعریف گروه مشتری موقت (مشتری هدف کمپین)
      </span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col-12 col-sm-3">
          <label class="float-end float-sm-start mt-3">
            بارگذاری فایل :
          </label>
        </div>
        <div class="col-12 col-sm-9">
          <input class="form-control" type="file" dir="ltr" id="formFile">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
      <div class="row">
        <div class="col-12 col-sm-3">
          <label class="float-end float-sm-start mt-2">
            نام گروه مشتری :
          </label>
        </div>
        <div class="col-12 col-sm-9">
          <input class="form-control rounded-pill text-end text-black" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col-12 col-sm-3">
          <label class="float-end float-sm-start mt-3">
            تاریخ انقضاء :
          </label>
        </div>
        <div class="col-12 col-sm-5">
          <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
            [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
            <input #datepickerInput3 formControlName="expierDate" [dropSpecialCharacters]="false" mask="0000/M0/d0"
              [leadZeroDateTime]="true" class="form-control rounded-pill text-center text-black" dir="ltr"
              type="text" />
          </ng-persian-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 col-sm-2">
      <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
        type="submit">
        ذخیره
      </button>
    </div>
    <div class="col-6 col-sm-2">
      <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
        type="submit">
        انصراف
      </button>
    </div>
  </div>
</div>
