<div *ngIf="visible" class="form-filter" [formGroup]="form">
  <div class="body">
    <div class="d-flex flex-column gap-2">
      <span></span>
      <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true" [uiTodayBtnEnable]="true"
        [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
        <input #datepickerInput3 [dropSpecialCharacters]="false" [dropSpecialCharacters]="false"
          [leadZeroDateTime]="true" class="form-control rounded-pill text-center text-black h-55px" dir="ltr"
          formControlName="dateFrom" mask="0000/M0/d0" type="text" />
      </ng-persian-datepicker>
    </div>
  </div>
  <button (click)="applyEventNotify()" class="btn-apply-filter">
    فیلتر
  </button>
  <button (click)="cancelEventNotify()" class="btn-cancel-filter">
    انصراف
  </button>
</div>
