<div class="form-filter" [formGroup]="filterForm" *ngIf="visible">
  <div class="body">
    <div class="d-flex flex-column gap-2">
      <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true" [uiTodayBtnEnable]="true"
        [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
        <input #datepickerInput3 [dropSpecialCharacters]="false" [dropSpecialCharacters]="false"
          [leadZeroDateTime]="true" class="filter-date-input text-center text-black" dir="ltr"
          formControlName="dateFrom" mask="0000/M0/d0" type="text" placeholder="تاریخ" />
      </ng-persian-datepicker>
    </div>
  </div>
  <button (click)="applyEventNotify()" class="btn-apply-filter">
    فیلتر
  </button>
  <button (click)="cancelEventNotify()" class="btn-cancel-filter">
    انصراف
  </button>
</div>