<div dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h5 class="font-yekan-bold fs-20px text-black">
          مشاهده
        </h5>
      </div>
    </div>
    <div *ngIf="theViewList.length>0||activeFilterName!==0" class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-0 border-spacing-lg">
            <thead>
              <tr>
                <th class="text-end font-yekan-bold pr-2 w-50 fs-08 align-middle" scope="col">
                  عنوان
                </th>
                <th class="text-end font-yekan-bold fs-08 cursor-pointer" scope="col">
                  <app-filter (applyEvent)="applyFilterForm($event,1)" (cancelEvent)="closeFilterForm($event,1)"
                    [items]="theFilterCustomerList" title="مشتری">
                  </app-filter>
                </th>
                <th class="text-end font-yekan-bold fs-08 cursor-pointer w-170-px" scope="col">
                  <app-filter-date (applyEvent)="applyFilterForm($event,2)" (cancelEvent)="closeFilterForm($event,2)"
                    title="بازه تاریخی">
                  </app-filter-date>
                </th>
                <th class="text-end font-yekan-bold fs-08 cursor-pointer" scope="col">
                  <app-filter (applyEvent)="applyFilterForm($event,3)" (cancelEvent)="closeFilterForm($event,3)"
                    [items]="theFilterBrandsList" title="برند">
                  </app-filter>
                </th>
                <th class="text-center font-yekan-bold fs-08 cursor-pointer w-100-px" scope="col">
                  <app-filter (applyEvent)="applyFilterForm($event,4)" (cancelEvent)="closeFilterForm($event,4)"
                    [items]="theFilterStatusList" title="وضعیت" [isRadio]="true">
                  </app-filter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="goToEdit(scenario.id)" *ngFor="let scenario of theViewList">
                <td class="text-end padding-1" scope="row">
                  <div class="pr-1 fs-08 lh-lg text-justify">
                    <ng-container *ngFor="let rewardsTitle of getRewardsDetail(scenario);">
                      {{rewardsTitle}}
                    </ng-container>
                  </div>
                  <div class="pr-1 mt-2 text-gray-500 fs-08">
                    {{scenario.title}}
                  </div>
                </td>
                <td class="text-end padding-1 fs-08">
                  <span *ngFor="let cGroup of scenario.customerGroups;let i =index;">
                    -{{cGroup.title}}
                  </span>
                </td>
                <td class="text-end padding-1 fs-08">
                  {{scenario.period.min.full}} تا {{scenario.period.max.full}}
                </td>
                <td class="text-end padding-1 fs-08">
                  <span *ngFor="let cBrand of scenario.brands;let i =index;">
                    -{{cBrand.title}}
                  </span>
                </td>
                <td class="text-center padding-1 fs-08">
                  <ng-container [ngSwitch]="scenario.senarioType.id.toString()">
                    <span *ngSwitchCase="'1'"> فعال</span>
                    <span *ngSwitchCase="'2'"> غیر فعال</span>
                    <span *ngSwitchCase="'3'"> در حال انتظار</span>
                    <span *ngSwitchCase="'4'"> رد شده</span>
                    <span *ngSwitchDefault> </span>
                  </ng-container>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination [pageSize]="pageSize" [total]="scenarioService.total"
          (notifyPageIndex)="selectedPageIndex($event)">
        </app-pagination>
      </div>
    </div>
    <div *ngIf="!theViewList||theViewList?.length===0" class="row mt-6">
      <div class="col-12">
        <div class="text-center font-yekan-bold text-black fs-09">
          سناریوهای شما به محض ایجاد، در این صفحه نمایش داده می‌شود.
        </div>
        <div class="text-center font-yekan-bold text-gray-500 mt-2 fs-09">
          از دکمه زیر برای ایجاد یک سناریوی جدید استفاده کنید.
        </div>
        <div class="text-center mt-4">
          <img alt="Empty page" src="assets/img/icons/empty.png">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6 col-sm-3">
        <button (click)="goToEdit('')"
          class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl" type="submit">
          سناریو جدید
        </button>
      </div>
    </div>
  </div>
</div>
<br>
