<div dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h5 class="font-yekan-bold fs-20px text-black">
          مشاهده
        </h5>
      </div>
    </div>
    <div *ngIf="theViewList.length>0" class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-0 border-spacing-lg">
            <thead>
            <tr>
              <th class="text-end font-yekan-bold pr-2 w-50 fs-08" scope="col">
                عنوان
              </th>
              <th class="text-end font-yekan-bold fs-08" scope="col">
                مشتری
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel cursor-pointer" viewBox="0 0 16 16">
                  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
              </th>
              <th class="text-end font-yekan-bold fs-08" scope="col">
                بازه تاریخی
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel cursor-pointer" viewBox="0 0 16 16">
                  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
              </th>
              <th class="text-end font-yekan-bold fs-08" scope="col">
                برند
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel cursor-pointer" viewBox="0 0 16 16">
                  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
              </th>
              <th class="text-center font-yekan-bold fs-08 w-100-px" scope="col">
                وضعیت
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel cursor-pointer" viewBox="0 0 16 16">
                  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
              </th>
            </tr>
            </thead>
            <tbody>
              <tr (click)="goToEdit(scenario.id)" *ngFor="let scenario of theViewList">
                <td class="text-end padding-1" scope="row">
                  <div class="pr-1 fs-08 lh-lg text-justify">
                    <ng-container *ngFor="let rewardsTitle of getRewardsDetail(scenario);">
                      {{rewardsTitle}}
                    </ng-container>
                  </div>
                  <div class="pr-1 mt-2 text-gray-500 fs-08">
                    {{scenario.title}}
                  </div>
                </td>
                <td class="text-end padding-1 fs-08">
                  <span *ngFor="let cGroup of scenario.customerGroups;let i =index;">
                    -{{cGroup.title}}
                  </span>
                </td>
                <td class="text-end padding-1 fs-08">
                  {{scenario.period.min.full}} تا {{scenario.period.max.full}}
                </td>
                <td class="text-end padding-1 fs-08">
                  <span *ngFor="let cBrand of scenario.brands;let i =index;">
                    -{{cBrand.title}}
                  </span>
                </td>
                <td class="text-center padding-1 fs-08">
                  {{scenario.senarioType.id.toString()==="1"?'فعال':'غیر فعال'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!theViewList||theViewList?.length===0" class="row mt-6">
      <div class="col-12">
        <div class="text-center font-yekan-bold text-black fs-09">
          سناریوهای شما به محض ایجاد، در این صفحه نمایش داده می‌شود.
        </div>
        <div class="text-center font-yekan-bold text-gray-500 mt-2 fs-09">
          از دکمه زیر برای ایجاد یک سناریوی جدید استفاده کنید.
        </div>
        <div class="text-center mt-4">
          <img alt="Empty page" src="assets/img/icons/empty.png">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6 col-sm-3">
        <button (click)="goToEdit('')"
          class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl" type="submit">
          سناریو جدید
        </button>
      </div>
    </div>
  </div>
</div>
<br>
