<form [formGroup]="discountService.form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold fs-20px text-black">
          تعریف کد تخفیف
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              بازه زمانی :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <span class="text-black fs-09">
                از
              </span>
              <div class="mt-1">
                <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                  [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                  <input formControlName="startDate" class="form-control h-55px rounded-pill text-center text-black"
                    [dropSpecialCharacters]="false" mask="0000/M0/d0" [leadZeroDateTime]="true" dir="ltr" type="text" />
                </ng-persian-datepicker>
              </div>
              <span class="text-black fs-09">
                تا
              </span>
              <div class="mt-1">
                <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                  [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                  <input formControlName="endDate" class="form-control h-55px rounded-pill text-center text-black"
                    [dropSpecialCharacters]="false" mask="0000/M0/d0" [leadZeroDateTime]="true" dir="ltr" type="text" />
                </ng-persian-datepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              برند :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.brands$|async" [multiple]="true" appendTo="body" bindLabel="title"
              (change)="discountService.brandChanged($event,'brandIds')" bindValue="id" class="form-control mb-3"
              formControlName="brandIds">
            </ng-select>
            <div *ngIf="!discountService.form.get('brandIds')?.valid && discountService.form.get('brandIds')?.touched "
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              برند را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
             مشتری :
             <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.customerGroups$|async" [multiple]="true" appendTo="body"
              bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="groupIds">
            </ng-select>
            <div
              *ngIf="!discountService.form.get('customerGroupIds')?.valid && discountService.form.get('customerGroupIds')?.touched"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              گروه مشتری را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              نوع کاربری :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.userTypes$|async" [multiple]="true" appendTo="body" bindLabel="title"
              (change)="discountService.brandChanged($event,'userTypeIds')" bindValue="id" class="form-control mb-3"
              formControlName="userTypeIds">
            </ng-select>
            <div
              *ngIf="!discountService.form.get('userTypeIds')?.valid && discountService.form.get('userTypeIds')?.touched"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              نوع کاربری را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              تک کالا :
              <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.productGroups$|async" [multiple]="true" appendTo="body"
              (change)="discountService.brandChanged($event,'productGroupIds')" bindLabel="title" bindValue="id"
              class="form-control mb-3" formControlName="productGroupIds">
            </ng-select>
            <div
              *ngIf="!discountService.form.get('productGroupIds')?.valid && discountService.form.get('productGroupIds')?.touched"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              گروه مشتری را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              به غیر از :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.productGroups$|async" [multiple]="true" appendTo="body"
              (change)="discountService.brandChanged($event,'productGroupIds')" bindLabel="title" bindValue="id"
              class="form-control mb-3" formControlName="productGroupsExceptedIds">
            </ng-select>
            <div
              *ngIf="!discountService.form.get('productGroupsExceptedIds')?.valid && discountService.form.get('productGroupsExceptedIds')?.touched"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              گروه مشتری را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              حجم خرید :
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <span class="text-black fs-09">
                از
              </span>
              <div class="mt-1">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-start text-black border-0 h-40px w-100" formControlName='purchanseAmountMin'
                    mask="separator" thousandSeparator="," type="text">
                  <div class="fs-08 text-gray-500">
                    تومان
                  </div>
                </div>
              </div>
              <span class="text-black fs-09">
                تا
              </span>
              <div class="mt-1">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-start text-black border-0 h-40px w-100" formControlName='purchanseAmountMax'
                    mask="separator" thousandSeparator="," type="text">
                  <div class="fs-08 text-gray-500">
                    تومان
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div class="row mt-4">
      <div class="col-12">
        <span class="font-yekan-bold fs-20px text-black">
          شرایط کد تخفیف
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6 col-sm-4">
        <div class="d-flex flex-row gap-3 mt-2">
          <label class="float-end float-sm-start mt-2">
            حجم تخفیف :
          </label>
          <div class="mr-1">
            <app-switch [labelOne]="'تومان'" [labelTwo]="'درصد'"
              (notifySelectionSwitch)="discountService.discountVolumeTypeChange($event)"></app-switch>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-2">
        <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
          <input class="text-start text-black border-0 h-40px w-100" formControlName='discountVolumeValue'
            mask="separator" thousandSeparator="," type="text">
          <div class="fs-08 text-gray-500">
            تومان
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-1">
        <div class="text-black mt-3 text-end text-sm-start fs-09">
          تا سقف
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
          <input class="text-start text-black border-0 h-40px w-100" formControlName='discountVolumeThreshold'
            mask="separator" thousandSeparator="," type="text">
          <div class="fs-08 text-gray-500">
            تومان
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-3">
        <div class="d-flex flex-row gap-3 mt-2">
          <label class="float-end float-sm-start text-center mt-2">
            تعداد دفعه استفاده :
          </label>
          <div class="flex-grow-1 flex-sm-grow-0">
            <input class="form-control h-55px rounded-pill text-center text-black" type="text" mask="separator"
              thousandSeparator="," formControlName="numberUsesPerUser">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <div class="text-black mt-4 text-end fs-09">
          به ازای هر کاربر
        </div>
      </div>
      <div class="col-10 col-sm-2">
        <input class="form-control h-55px rounded-pill mt-1 text-center text-black" type="text" mask="separator"
          thousandSeparator="," formControlName="numberUsesTotal">
      </div>
      <div class="col-2 col-sm-1">
        <div class="text-black mt-4 text-end fs-09">
          در کل
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-7 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-2">
            <label class="float-end float-sm-start mt-3">
              قابل اعمال بر :
            </label>
          </div>
          <div class="col-12 col-sm-10">
            <ng-select [items]="baseInfoService.applyOnType$|async" [multiple]="false" appendTo="body" bindLabel="title"
              bindValue="id" class="form-control mb-3" formControlName="applyOnType">
            </ng-select>
            <div
              *ngIf="!discountService.form.get('applyOnType')?.valid && discountService.form.get('applyOnType')?.touched"
              class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
              نوع اعمال را مشخص نمایید
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-4">
        <div class="d-flex flex-row gap-3 mt-2">
          <label class="float-end float-sm-start mt-2">
            نوع تخفیف :
          </label>
          <div class="mr-1 flex-grow-1">
            <app-switch [labelOne]="'تک کالا'" [labelTwo]="'سبد خرید'"
              (notifySelectionSwitch)="discountService.discountTypeChange($event)"></app-switch>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-5 mt-2 mt-sm-0">
        <ng-select [items]="baseInfoService.productGroups$|async" [multiple]="true" appendTo="body" bindLabel="title"
          (change)="discountService.brandChanged($event,'productGroupIds')" bindValue="id" class="form-control mb-3"
          formControlName="productGroupsConditionIds">
        </ng-select>
        <div
          *ngIf="!discountService.form.get('productGroupsConditionIds')?.valid && discountService.form.get('productGroupsConditionIds')?.touched"
          class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
          گروه کالا را مشخص نمایید
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-8">
        <div class="d-flex flex-row align-items-center mt-3">
          <input checked class="form-check-input" type="checkbox" formControlName="integrateOtherDiscount"
            id="integrateOtherDiscount">
          <label class="form-check-label mr-1 cursor-pointer" for="integrateOtherDiscount">
            قابل تجمیع با سایر کد ها
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-8">
        <div class="d-flex flex-row align-items-center mt-3">
          <input checked class="form-check-input" type="checkbox" formControlName="freeSending" id="freeSending">
          <label class="form-check-label mr-1 cursor-pointer" for="freeSending">
            رایگان کردن هزینه ارسال
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-7">
        <div class="d-flex flex-row align-items-center mt-3">
          <input [value]="1" checked class="form-check-input" formControlName="discountCodeType" name="discountCodeType"
            type="radio" id="discountCodeTypeStatic">
          <label class="form-check-label mr-1 cursor-pointer" for="discountCodeTypeStatic">
            کد تخفیف ثابت
          </label>
          <div class="mr-1">
            <input class="form-control h-55px rounded-pill text-center text-black" type="text"
              formControlName="discountFixCode">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-row align-items-center">
          <input [value]="2" checked class="form-check-input" formControlName="discountCodeType" name="discountCodeType"
            id="discountCodeTypeRandom" type="radio">
          <label class="form-check-label mr-1 cursor-pointer" for="discountCodeTypeRandom">
            کد تخفیف تصادفی با پیشوند
          </label>
          <div class="mr-1">
            <input class="form-control h-55px rounded-pill text-center text-black" type="text"
              formControlName="randomDiscountCodePrefix">
          </div>
        </div>
        <div
          *ngIf="!discountService.form.get('randomDiscountCodePrefix')?.valid && discountService.form.get('randomDiscountCodePrefix')?.touched "
          class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
          اطلاعات مربوط به کد تخفیف ثابت یا تصادفی را کامل نمایید .
        </div>
      </div>
      <div class="col-12 col-sm-1">
        <div class="text-black mt-3 text-end fs-09">
          به تعداد:
        </div>
      </div>
      <div class="col-12 col-sm-2">
        <input class="form-control h-55px rounded-pill text-center text-black" type="text" mask="separator"
          thousandSeparator="," formControlName="randomDiscountCodeCount">
      </div>
    </div>
    <hr>
    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-row align-items-center">
          <input [value]="2" checked class="form-check-input" formControlName="discountCodeType" name="discountCodeType"
            id="discountCodeTypeRandom" type="checkbox">
          <label class="form-check-label mr-1 cursor-pointer" for="discountCodeTypeRandom">
            به عنوان الگو ذخیره شود. نام الگو:
          </label>
          <div class="mr-1">
            <input class="form-control h-55px rounded-pill text-center text-black" type="text"
              formControlName="patternName">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6 col-sm-3">
        <button class="btn btn-warning w-100 rounded-pill fw-bold font-yekan-bold px-4 text-white d-block" dir="rtl"
          (click)="open(generateCodeModalPattern)">
          ذخیره
        </button>
      </div>
      <div class="col-6 col-sm-3">
        <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl"
          (click)="open(generateCodeModal,true)" type="submit">
          تولید کد
        </button>
      </div>
    </div>
  </div>
  <ng-template #generateCodeModalPattern let-modal>
    <div class="modal-body" dir="rtl">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span class="font-yekan-bold h6 text-end text-black">
              ایجاد کد جدید
            </span>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center gap-3 mt-4">
          <div class="text-black">
            نام الگو :
          </div>
          <div class="flex-grow-1">
            <input class="form-control rounded-pill text-end text-black" type="text" formControlName="patternName">
          </div>
        </div>
        <div class="row mt-5 mb-3">
          <div class="col-12 col-sm-3">
            <button class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl"
              type="submit" (click)="saveCode()">
              ذخیره
            </button>
          </div>
          <div class="col-12 col-sm-3">
            <button (click)="close()"
              class="btn btn-outline-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" type="submit">
              انصراف
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #generateCodeModal let-modal>
    <div class="modal-body" dir="rtl">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span class="font-yekan-bold h6 text-end text-black">
              ایجاد کد جدید
            </span>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center gap-3 mt-4">
          <div class="text-black">
            کد (ها) با موفقیت ایجاد و فعال شد.
          </div>

        </div>
        <div class="row mt-5 mb-3">
          <div class="col-5">
            <button class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl"
              type="submit" (click)="close()">
              مشاهده لیست کد ها
            </button>
          </div>
          <div class="col-3">
            <button (click)="close()"
              class="btn btn-outline-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" type="submit">
              انصراف
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</form>
<br>