<div class="container-fluid mt-3" [formGroup]="service.form" dir="rtl">
  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          دسته بندی جایزه :
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mt-3 mx-2">
          <ng-select [items]="baseInfoService.categories$|async" [multiple]="false" [readonly]="isDisabled"
            appendTo="body" bindLabel="title" bindValue="id" class="form-control" formControlName="categoryId">
          </ng-select>
          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span
              *ngIf="!service.form.get('categoryId')?.valid && service.form.get('categoryId')?.touched && !isDisabled">
              دسته بندی جایزه را مشخص نمایید
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          نمابش در برند:
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mt-3 mx-2">
          <ng-select [items]="baseInfoService.brands$|async" [multiple]="false" [readonly]="isDisabled" appendTo="body"
            bindLabel="title" bindValue="id" class="form-control" formControlName="providerBrandId">
          </ng-select>
          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span
              *ngIf="!service.form.get('providerBrandId')?.valid && service.form.get('providerBrandId')?.touched && !isDisabled">
              نمایش در برند را مشخص نمایید
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          نوع کاربری:
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mt-3 mx-2">
          <ng-select [items]="baseInfoService.userTypes$|async" [multiple]="false" [readonly]="isDisabled"
            appendTo="body" bindLabel="title" bindValue="id" class="form-control" formControlName="userTypeId">
          </ng-select>
          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span
              *ngIf="!service.form.get('userTypeId')?.valid && service.form.get('userTypeId')?.touched && !isDisabled">
              نوع کاربری را مشخص نمایید
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          مشتری:
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mt-3 mx-2">

          <ng-select [items]="baseInfoService.generalCustomersByBrandId$|async" [multiple]="false"
            [readonly]="isDisabled" appendTo="body" bindLabel="title" bindValue="id" class="form-control"
            formControlName="groupId">
          </ng-select>

          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span *ngIf="!service.form.get('groupId')?.valid && service.form.get('groupId')?.touched && !isDisabled">
              مشتری را مشخص نمایید
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row my-3">
    <div class="col-6  d-flex align-items-center">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          بازه زمانی:
          <span class="text-danger">*</span>
        </label>
        <label class="  mx-2">
          از
        </label>
        <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
          [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
          <input [dropSpecialCharacters]="false" [leadZeroDateTime]="true" style="width: 130px;padding:10px"
            class="time-picker-input h-30px form-control rounded-pill text-center text-black" dir="ltr"
            formControlName="startDate" mask="0000/M0/d0" type="text" />
        </ng-persian-datepicker>
        <label class="  mx-2">
          تا
        </label>
        <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
          [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
          <input [dropSpecialCharacters]="false" [leadZeroDateTime]="true"
            class=" time-picker-input h-30px form-control  rounded-pill text-center text-black" dir="ltr"
            formControlName="endDate" mask="0000/M0/d0" type="text" />
        </ng-persian-datepicker>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          برند صادر کننده:
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mt-3 mx-2">
          <input [readOnly]="isDisabled"
            class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px text-center text-black border-0 h-55 px w-100 mr-8-px"
            dir="ltr" formControlName='exporterBrand' type="text">
          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span
              *ngIf="!service.form.get('exporterBrand')?.valid && service.form.get('exporterBrand')?.touched && !isDisabled">
              برند صادر کننده را مشخص نمایید
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          لوگوی برند:
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mt-3 mx-2">

          <input #uploader class="form-control" type="file" dir="ltr" id="formFile" title="یک عکس انتخاب نمایید."
            (change)="service.fileSelectionChanged($event,'exporterBrandLogoId')" hidden>

          <div [ngClass]="{'disabled':isDisabled}"
            class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px h-55px justify-content-end">
            <span class="mx-1" *ngIf="uploader.files&&uploader.files[0]?.name">
              {{uploader.files[0]?.name}}
            </span>

            <span class="mx-1" *ngIf="!(uploader.files&&uploader.files[0]?.name)">
              {{service.getValue('exporterBrandLogoName')}}
            </span>
            <div class="btn btn-warning rounded-pill font-yekan-bold px-4 text-white d-block fileUploaderButton"
              dir="rtl" (click)="uploader.click()">

            </div>
          </div>

          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span
              *ngIf="!service.form.get('exporterBrandLogoId')?.valid && service.form.get('exporterBrandLogoId')?.touched && !isDisabled">
              لوگوی برند را مشخص نمایید
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          کد رنگ:
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-shrink-1 mt-3 mx-2">
          <div [ngClass]="{'disabled':isDisabled}"
            class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px" dir="ltr">
            <div class="fs-08 text-gray-500">
              #
            </div>
            <input [readOnly]="isDisabled" class="text-center text-black border-0 h-40px w-100 mr-8-px"
              formControlName='exporterBrandHexaCode' type="text" [specialCharacters]="['#']"
              [patterns]="customPatterns" mask="#000000">

          </div>
          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span
              *ngIf="!service.form.get('exporterBrandHexaCode')?.valid && service.form.get('exporterBrandHexaCode')?.touched && !isDisabled">
              کد رنگ را مشخص نمایید
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          امتیاز لازم:
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-shrink-1 mt-3 mx-2">
          <div [ngClass]="{'disabled':isDisabled}"
            class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px">
            <input [readOnly]="isDisabled" class="text-center text-black border-0 h-40px w-100 mr-8-px"
              formControlName='pointAmount' mask="separator" thousandSeparator="," type="text">
            <div class="fs-08 text-gray-500">
              امتیاز
            </div>
          </div>

          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span
              *ngIf="!service.form.get('pointAmount')?.valid && service.form.get('pointAmount')?.touched && !isDisabled">
              امتیاز لازم را مشخص نمایید
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          فایل جوایز:
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mt-3 mx-2">

          <input #awardFileIdUploader class="form-control" type="file" dir="ltr" id="formFile"
            title="یک عکس انتخاب نمایید." (change)="service.fileSelectionChanged($event,'awardFileId')" hidden>

          <div [ngClass]="{'disabled':isDisabled}"
            class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px h-55px justify-content-end">
            <span class="mx-1" *ngIf="awardFileIdUploader.files&&awardFileIdUploader.files[0]?.name">
              {{awardFileIdUploader.files[0]?.name}}
            </span>

            <span class="mx-1" *ngIf="!(awardFileIdUploader.files&&awardFileIdUploader.files[0]?.name)">
              {{service.getValue('exporterBrandLogoName')}}
            </span>
            <div class="btn btn-warning rounded-pill font-yekan-bold px-4 text-white d-block fileUploaderButton"
              dir="rtl" (click)="awardFileIdUploader.click()">

            </div>
          </div>

          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span
              *ngIf="!service.form.get('awardFileId')?.valid && service.form.get('awardFileId')?.touched && !isDisabled">
              فایل جوایز را مشخص نمایید
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6">
    </div>
  </div>

  <label class="mr-auto label-min-width">
    عنوان جایزه: {{service.getTitle()}}

  </label>

  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-row align-items-center">
        <label class="float-end float-sm-start label-min-width">
          متن :
          <span class="text-danger">*</span>
        </label>
        <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mt-3 mx-2 " style="min-height: 300px;">

          <editor [init]="{base_url:'/tinymce',suffix: '.min'}" [formControlName]="'text'"></editor>

          <div class="text-danger font-yekan-regular fs-08 pr-1 mt-1 h-15-px" dir="rtl">
            <span *ngIf="!service.form.get('text')?.valid && service.form.get('text')?.touched && !isDisabled">

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-6 col-sm-3">
      <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
        (click)="service.submit()">
        ذخیره
      </button>
    </div>
    <div class="col-6 col-sm-3">
      <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
        (click)="backToList()">
        انصراف
      </button>
    </div>
  </div>

</div>
