<div dir="rtl">
  <div class="container-fluid">
    <div *ngIf="theViewList.length>0" class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-0 border-spacing-xs">
            <thead>
              <tr>
                <th class="text-center font-yekan-bold w-70-px fs-08 align-middle" scope="col">
                  ردیف
                </th>
                <th class="text-end font-yekan-bold fs-08 cursor-pointer" scope="col">
                  <!-- <app-filter (applyEvent)="applyFilterForm($event,1)" (cancelEvent)="closeFilterForm($event,1)"
                    [items]="theFilterCustomerList" title="کد تخفیف">
                  </app-filter> -->
                  کد تخفیف
                </th>
                <th class="text-end font-yekan-bold fs-08 cursor-pointer" scope="col">
                  <!-- <app-filter (applyEvent)="applyFilterForm($event,1)" (cancelEvent)="closeFilterForm($event,1)"
                    [items]="theFilterCustomerList" title="حجم تخفیف">
                  </app-filter> -->
                  حجم تخفیف
                </th>
                <th class="text-end font-yekan-bold fs-08 cursor-pointer" scope="col">
                  <!-- <app-filter (applyEvent)="applyFilterForm($event,1)" (cancelEvent)="closeFilterForm($event,1)"
                    [items]="theFilterCustomerList" title="برند">
                  </app-filter> -->
                  برند
                </th>
                <th class="text-end font-yekan-bold fs-08 cursor-pointer" scope="col">
                  <!-- <app-filter (applyEvent)="applyFilterForm($event,1)" (cancelEvent)="closeFilterForm($event,1)"
                    [items]="theFilterCustomerList" title="بازه زمانی">
                  </app-filter> -->
                  بازه زمانی
                </th>
                <th class="text-start font-yekan-bold fs-08 align-middle" scope="col">
                  الگوی تخفیف
                </th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="goToEdit(discount.Code)" *ngFor="let discount of theViewList">
                <td class="text-center" scope="row">
                  {{discount.Index}}
                </td>
                <td class="text-end">
                  {{discount.Code}}
                </td>
                <td class="text-end">
                  {{discount.Discount}}
                </td>
                <td class="text-end">
                  {{discount.Brands}}
                </td>
                <td class="text-end">
                  {{discount.DateTime}}
                </td>
                <td class="text-start">
                  {{discount.Pattern}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!theViewList||theViewList?.length===0" class="row mt-6">
      <div class="col-12">
        <div class="text-center font-yekan-bold text-black fs-09">
          کدهای تخفیف شما به محض ایجاد، در این صفحه نمایش داده می‌شود.
        </div>
        <div class="text-center font-yekan-bold text-gray-500 mt-2 fs-09">
          از دکمه زیر برای ایجاد یک کد تخفیف جدید استفاده کنید.
        </div>
        <div class="text-center mt-4">
          <img alt="Empty page" src="assets/img/icons/empty.png">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-3">
        <button (click)="goToEdit('')"
          class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl" type="submit">
          ایجاد کد تخفیف
        </button>
      </div>
    </div>
  </div>
</div>
<br>