<form action="" dir="rtl">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
تعریف
        </span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-2">
              نوع سناریو :
            </label>
          </div>
          <div class="col-9">
            <app-switch [labelOne]="'درصد'" [labelTwo]="'تومان'"></app-switch>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-4">
              نام سناریو :
            </label>
          </div>
          <div class="col-9">
            <input class="form-control rounded-pill text-end text-black" type="text">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-4">
              برند :
            </label>
          </div>
          <div class="col-9">
            <ng-select [(ngModel)]="selectedCar" [items]="cars"
                       [multiple]="true"
                       appendTo="body"
                       bindLabel="name"
                       class="form-control mb-3">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-4">
              بازه زمانی :
            </label>
          </div>
          <div class="col-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <span class="text-black fs-09">
                از
              </span>
              <div class="mt-1">
                <input class="form-control rounded-pill text-center text-black" type="text">
              </div>
              <span class="text-black fs-09">
                تا
              </span>
              <div class="mt-1">
                <input class="form-control rounded-pill text-center text-black" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-4">
              نوع کاربری :
            </label>
          </div>
          <div class="col-9">
            <ng-select [(ngModel)]="selectedCar" [items]="cars"
                       [multiple]="true"
                       appendTo="body"
                       bindLabel="name"
                       class="form-control mb-3">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-4">
              گروه مشتری :
            </label>
          </div>
          <div class="col-9">
            <ng-select [(ngModel)]="selectedCar" [items]="cars"
                       [multiple]="true"
                       appendTo="body"
                       bindLabel="name"
                       class="form-control mb-3">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-4">
              فعالیت :
            </label>
          </div>
          <div class="col-9">
            <ng-select [(ngModel)]="selectedCar" [items]="cars"
                       [multiple]="true"
                       appendTo="body"
                       bindLabel="name"
                       class="form-control mb-3">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div class="row mt-4">
      <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
          جوایز
        </span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-2">
              نوع جایزه :
            </label>
          </div>
          <div class="col-9">
            <app-switch [labelOne]="'درصد'" [labelTwo]="'تومان'"></app-switch>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-8">
        <div class="row">
          <div class="col-3 d-flex flex-row align-items-center">
            <input checked class="form-check-input" name="percentType" type="checkbox">
            <label class="form-check-label mr-1 cursor-pointer">
              افزایش امتیاز
            </label>
          </div>
          <div class="col-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <div>
                <input class="form-control rounded-pill text-center text-black" type="text">
              </div>
              <span class="text-black w-80-px text-start fs-09">
تا سقف
              </span>
              <div>
                <input class="form-control rounded-pill text-start text-black" placeholder="امتیاز" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-9">
        <div class="row">
          <div class="col-4 d-flex flex-row align-items-center">
            <input checked class="form-check-input" name="percentType" type="checkbox">
            <label class="form-check-label mr-1 cursor-pointer">
بازگشت وجه به کیف پول
            </label>
          </div>
          <div class="col-8">
            <div class="d-flex flex-row gap-3 align-items-center">
              <div>
                <input class="form-control rounded-pill text-start text-black" placeholder="تومان" type="text">
              </div>
              <span class="text-black w-80-px text-start fs-09">
تا سقف
              </span>
              <div>
                <input class="form-control rounded-pill text-start text-black" placeholder="تومان" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="row">
          <div class="col-3 d-flex flex-row align-items-center">
            <input checked class="form-check-input" name="percentType" type="checkbox">
            <label class="form-check-label mr-1 cursor-pointer">
کد تخفیف برای خرید بعدی
            </label>
          </div>
          <div class="col-9">
            <div class="d-flex flex-row gap-3 align-items-center">
              <div>
                <input class="form-control rounded-pill w-90-px text-center text-black" placeholder="%" type="text">
              </div>
              <span class="text-black w-80-px text-start w-130-px fs-09">
سبد خرید تا سقف
              </span>
              <div>
                <input class="form-control rounded-pill text-start text-black" placeholder="تومان" type="text">
              </div>
              <span class="text-black w-80-px text-start fs-09">
معتبر تا
              </span>
              <div>
                <input class="form-control rounded-pill text-center text-black" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-3">
        <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block"
                dir="rtl" type="submit">
          ذخیره
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block"
                dir="rtl" type="submit">
         انصراف
        </button>
      </div>
    </div>
  </div>
</form>
<br>
