<div dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold fs-20px text-black">
          مشاهده
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-0 border-spacing-xs">
            <thead>
            <tr>
              <th class="text-center font-yekan-bold fs-08" scope="col">ردیف</th>
              <th class="text-center font-yekan-bold fs-08" scope="col">تغییر سطح</th>
              <th class="text-center font-yekan-bold fs-08" scope="col">برند</th>
              <th class="text-center font-yekan-bold fs-08" scope="col">تعداد فعالیت</th>
              <th class="text-center font-yekan-bold fs-08" scope="col">حجم امتیاز</th>
              <th class="text-center font-yekan-bold fs-08" scope="col">قرار گیری در گروه مشتری</th>
            </tr>
            </thead>
            <tbody>
            <tr (click)="goToEdit(customerGroup.id)" *ngFor="let customerGroup of theViewList;let i =index;">
              <td class="text-center" scope="row">{{pageIndex+i}}</td>
              <td class="text-center">
                از {{customerGroup?.currentLevel?.title}} به {{customerGroup?.nextLevel?.title}}
              </td>
              <td class="text-center">
                {{customerGroup?.brand?.title}}
              </td>
              <td class="text-center">
                {{customerGroup?.activityCount}}
              </td>
              <td class="text-center">
                {{customerGroup?.scoreThreshold}}
              </td>
              <td class="text-center">
                {{customerGroup?.customerGroup?.title}}
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 col-sm-3">
          <button (click)="goToEdit('')"
                  class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl" type="submit">
            گروه مشتری جدید
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
