<div dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold fs-20px text-black">
          مشاهده
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div *ngIf="theViewList.length>0||activeFilterName!==0" class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-0 border-spacing-xs">
            <thead>
              <tr>
                <th class="text-end font-yekan-bold fs-08 th-app-table" scope="col"
                  *ngFor="let headerItem of headerItems;">
                  <app-table-header-filter [activeFilterName]="activeFilterName" [filterName]="headerItem"
                    (onOpenFilterForm)="openFilterForm($event)" (onCloseFilterForm)="closeFilterForm($event)"
                    (onApplyFilterForm)="applyFilterForm($event)">
                  </app-table-header-filter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="goToEdit(customerGroup.id)" *ngFor="let customerGroup of theViewList;let i =index;">
                <td class="pr-1 text-end" scope="row">{{((pageIndex-1)*pageSize)+(i+1)}}</td>
                <td class="pr-1 text-end">
                  از {{customerGroup?.level.currentLevel}} به {{customerGroup?.level?.nextLevel}}
                </td>
                <td class="pr-1 text-end">
                  {{customerGroup?.brand}}
                </td>
                <td class="pr-1 text-end">
                  {{customerGroup?.activityCount}}
                </td>
                <td class="pr-1 text-end">
                  {{customerGroup?.scoreThreshold}}
                </td>
                <td class="pr-1 text-end">
                  {{customerGroup?.customerGroup}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <app-pagination [pageSize]="pageSize" [totalPages]="service.totalPages"
          (notifyPageIndex)="selectedPageIndex($event)">
        </app-pagination>
      </div>
      <div class="row mt-5">
        <div class="col-6 col-sm-3">
          <button (click)="goToEdit('')"
            class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl" type="submit">
            گروه مشتری جدید
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
