<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <nav class="navbar navbar-light navbar-expand mb-4 topbar static-top">
      <div class="container">
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <button class="btn btn-primary" type="button">-->
<!--              <i class="bi bi-gear"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <button class="btn btn-primary" type="button">-->
<!--              <i class="bi bi-gear"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <nav [ngClass]="{'toggled':isToggle}"
       class="panel-sidebar navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-text font-yekan-bold mx-3 mt-15">
        <img alt="هلدینگ بان" src="assets/img/logo/logo.svg">
      </div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light font-yekan-regular text-black mt-13" dir="ltr">
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/main']"
             class="nav-link"
             routerLinkActive="active">
            صفحه اصلی
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/scenario']"
             class="nav-link"
             routerLinkActive="active">
            سناریوها
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/customergroup']"
             class="nav-link"
             routerLinkActive="active">
            گروه مشتری
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/customergrouptemporary']"
             class="nav-link"
             routerLinkActive="active">
            گروه مشتری موقت
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/customer']"
             class="nav-link"
             routerLinkActive="active">
            مشتریان
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/users']"
             class="nav-link"
             routerLinkActive="active">
            کاربران پنل
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/sendsms']"
             class="nav-link"
             routerLinkActive="active">
            ارسال پیامک
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/reports']"
             class="nav-link"
             routerLinkActive="active">
            گزارش ها
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/systemsettings']"
             class="nav-link"
             routerLinkActive="active">
            تنظیمات سیستمی
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
