<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
      <div class="container-fluid">
        <button (click)="isToggle=!isToggle" class="btn btn-link d-md-none rounded-circle me-3" type="button">
          <i class="fas fa-bars"></i>
        </button>
        <div class="d-sm-flex justify-content-between align-items-center mb-4 text-end"></div>
        <ul class="navbar-nav flex-nowrap ms-auto">
          <li class="nav-item dropdown d-sm-none no-arrow">
            <a aria-expanded="false" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
              <i class="fas fa-search"></i>
            </a>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <div class="nav-item dropdown no-arrow"><a aria-expanded="false" class="dropdown-toggle nav-link"
                                                       data-bs-toggle="dropdown" href="#"><span
              class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
              <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center"
                                                                 href="#">
                <div class="me-3">
                  <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                </div>
                <div><span class="small text-gray-500">December 12, 2019</span>
                  <p>A new monthly report is ready to download!</p>
                </div>
              </a><a class="dropdown-item d-flex align-items-center" href="#">
                <div class="me-3">
                  <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                </div>
                <div><span class="small text-gray-500">December 7, 2019</span>
                  <p>$290.29 has been deposited into your account!</p>
                </div>
              </a><a class="dropdown-item d-flex align-items-center" href="#">
                <div class="me-3">
                  <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                </div>
                <div><span class="small text-gray-500">December 2, 2019</span>
                  <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                </div>
              </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <div class="nav-item dropdown no-arrow"><a aria-expanded="false" class="dropdown-toggle nav-link"
                                                       data-bs-toggle="dropdown" href="#"><span
              class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>
              <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center"
                                                                 href="#">
                <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                           src="assets/img/avatars/avatar4.jpeg">
                  <div class="bg-success status-indicator"></div>
                </div>
                <div class="fw-bold">
                  <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span>
                  </div>
                  <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                </div>
              </a><a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                           src="assets/img/avatars/avatar2.jpeg">
                  <div class="status-indicator"></div>
                </div>
                <div class="fw-bold">
                  <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                  <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                </div>
              </a><a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                           src="assets/img/avatars/avatar3.jpeg">
                  <div class="bg-warning status-indicator"></div>
                </div>
                <div class="fw-bold">
                  <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span>
                  </div>
                  <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                </div>
              </a><a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                           src="assets/img/avatars/avatar5.jpeg">
                  <div class="bg-success status-indicator"></div>
                </div>
                <div class="fw-bold">
                  <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span>
                  </div>
                  <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                </div>
              </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </div>
            <div aria-labelledby="alertsDropdown" class="shadow dropdown-list dropdown-menu dropdown-menu-end"></div>
          </li>
          <div class="d-none d-sm-block topbar-divider"></div>
          <li class="nav-item dropdown no-arrow">
            <div class="nav-item dropdown no-arrow">
              <a aria-expanded="false"
                 class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
                <span class="d-none d-lg-inline me-2 text-gray-600 small">
                  مهدی محمودآبادی
                </span>
                <img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
              <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                <a class="dropdown-item text-end font-yekan-regular" href="#">
                  پروفایل
                  <i class="fas fa-user fa-sm fa-fw px-2 text-gray-400"></i>
                </a>
                <a class="dropdown-item text-end font-yekan-regular" href="#">
                  تنظیمات
                  <i class="fas fa-cogs fa-sm fa-fw px-2 text-gray-400"></i>
                </a>
                <a class="dropdown-item text-end font-yekan-regular" href="#">
                  پیغام ها
                  <i class="fas fa-list fa-sm fa-fw px-2 text-gray-400"></i>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-end font-yekan-regular" href="#">
                  خروج از پنل
                  <i class="fas fa-sign-out-alt fa-sm fa-fw px-2 text-gray-400"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
        <h3 class="text-dark mb-0 text-end small">پیشخوان</h3>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <a class="border rounded d-inline scroll-to-top" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <nav [ngClass]="{'toggled':isToggle}"
       class="panel-sidebar navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-text mx-3">
        <span class="h6">
          پنل مدیریت کاربران
        </span>
      </div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" dir="rtl">
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [ngClass]="{'text-end':!isToggle}"
             [routerLink]="['/admin/main']"
             class="nav-link"
             routerLinkActive="active">
            <i class="fas fa-tachometer-alt"></i>
            <span class="px-3">پیشخوان</span>
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [ngClass]="{'text-end':!isToggle}"
             [routerLink]="['/admin/profile']"
             class="nav-link"
             routerLinkActive="active">
            <i class="fas fa-user"></i>
            <span class="px-3">پروفایل</span>
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [ngClass]="{'text-end':!isToggle}"
             [routerLink]="['/admin/users']"
             class="nav-link"
             routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span class="px-3">کاربران</span>
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [ngClass]="{'text-end':!isToggle}"
             class="nav-link"
             routerLinkActive="active">
            <i class="fas fa-archive"></i>
            <span class="px-3">اطلاعیه ها</span>
          </a>
        </li>
<!--        <li [routerLinkActive]="['link-active']" class="nav-item">-->
<!--          <a class="nav-link text-end" routerLinkActive="active">-->
<!--            <span class="px-3">اطلاعیه ها</span>-->
<!--            <i class="far fa-user-circle"></i>-->
<!--          </a>-->
<!--        </li>-->
      </ul>
      <div class="text-center d-none d-md-inline">
        <button (click)="isToggle=!isToggle"
                class="btn rounded-circle border-0" id="sidebarToggle" type="button">
        </button>
      </div>
    </div>
  </nav>
</div>
