<nav class="navbar navbar-expand-lg navbar-light bg-nav-green d-block d-sm-none shadow bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/main/">
      <img alt="هلدینگ بان" height="100" src="assets/img/logo/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto px-4 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
        <li class="nav-item">
          <a [routerLink]="['/admin/main/']"
             class="nav-link">
            صفحه اصلی
          </a>
        </li>
        <li *ngFor="let item of menuItems" class="nav-item">
          <a [routerLink]="[item.url]"
             class="nav-link"
             routerLinkActive="active">
            {{item.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <nav class="navbar navbar-light navbar-expand mb-4 topbar static-top">
      <div class="container">
        <div class="d-flex flex-row align-items-center mt-4 gap-3">
          <div class="btn-setting">
            <img src="assets/img/icons/setting.svg">
          </div>
          <div class="btn-alerts">
            <img src="assets/img/icons/alerts.svg">
          </div>
          <div class="ml-1">
            <div class="d-flex flex-row align-items-center form-control p-2">
              <div class="ml-3">
                <input class="input-search" placeholder="جستجو در پنل" type="text"/>
              </div>
              <div class="btn-search">
                <img src="assets/img/icons/search.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid container-lg">
      <router-outlet></router-outlet>
    </div>
  </div>
  <nav [ngClass]="{'toggled':isToggle}"
       class="panel-sidebar navbar navbar-dark d-none d-sm-block align-items-start sidebar sidebar-dark accordion p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-text font-yekan-bold mx-3 mt-15">
        <img alt="هلدینگ بان" src="assets/img/logo/logo.svg">
      </div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light font-yekan-regular text-black mt-13" dir="ltr">
        <li [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="['/admin/main/']"
             class="nav-link">
            صفحه اصلی
          </a>
        </li>
        <li *ngFor="let item of menuItems" [routerLinkActive]="['link-active']" class="nav-item">
          <a [routerLink]="[item.url]"
             class="nav-link"
             routerLinkActive="active">
            {{item.title}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
