.navbar-nav {
  padding-right: 0;
}

.navbar-nav li a {
  font-size: 1rem;
  color: black;
  text-align: right;
  cursor: pointer;
  padding-right: 3rem;
  font-family: IranYekanRegular;
}

.sidebar .nav-item .nav-link span {
  margin-right: 1.5rem;
}

.nav-link.active {
  padding: 1rem;
  border-radius: 25px;
  box-shadow: inset -0.5px 0.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #eff3f3;
  font-weight: normal !important;
}

.panel-sidebar {
  width: 20rem !important;
  background-color: #00b3b5;
  box-shadow: -2.5px 5.5px 5px 0 rgb(0 0 0 / 16%);
}

.btn-setting,
.btn-alerts{
  margin: 14.5px 12px 12px 0;
  padding: 10px;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.16);
  background-color: #01aab1;
  border-radius: 50%;
  cursor: pointer;
}

.btn-setting:hover,
.btn-alerts:hover{
  transition: all 0.2s ease-in-out 0s;
  background-color: #01cbd2;
}

.input-search{
  border: none;
  height: 30px;
  text-align: right;
  font-size: 13px;
}

.input-search:hover,
.input-search:focus{
  border: none;
}

.btn-search{
  padding: 10px;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffa100;
  border-radius: 50%;
  cursor: pointer;
}
.btn-search:hover{
  transition: all 0.2s ease-in-out 0s;
  background-color: #ffae43;
}
