.alert-position {
  position: sticky;
  top: 0;
  width: 90%;
  z-index: 9;
  margin: 30px auto 0;
}

.alert-dismissible .btn-close{
  left: 0!important;
  padding: 1rem!important;
}

.right-10px{
  right: 10px;
}

.alert{
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 1px silver;
}

.alert-danger{
  background-color: #e10000;
}

.alert-warning{
  background-color: #fcff24;
}

.alert-success{
  background-color: #04ab70;
}

.alert-primary{
  background-color: #6084f2;
}
