<div class="container-fluid mt-4" *ngIf="theViewList.length>0||activeFilterName!==0">
  <div class="row mt-3">
    <div class="col-12">
      <table cellspacing="0" class="table table-hover border-0">
        <thead>
          <tr>
            <th class="text-end font-yekan-bold pr-2 fs-08 cursor-pointer" scope="col">
              نام فعالیت
            </th>
            <th class="text-end font-yekan-bold pr-2 fs-08 cursor-pointer" scope="col">
              کلید
            </th>
            <th class="text-start font-yekan-bold fs-08 cursor-pointer" scope="col">
              <div class="p-6px">
                سناریوهای مرتبط
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="goToEdit(item.id)" *ngFor="let item of theViewList">
            <td class="text-end pr-2 fs-08" scope="row">
              {{item.title}}
            </td>
            <td class="text-end pr-2 fs-08">
              {{item.key}}
            </td>
            <td class="text-center fs-08">

            </td>
          </tr>

        </tbody>
      </table>
      <app-pagination [pageSize]="pageSize" [totalPages]="service.totalPages"
        (notifyPageIndex)="selectedPageIndex($event)">
      </app-pagination>
    </div>
  </div>
</div>
