<form [formGroup]="service.form" action="" dir="rtl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold fs-20px text-black">
          تایید درخواست ترویج دهنده
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold fs-8px text-black">
          اطلاعات متقاضی | درخواست نوع کاربری: {{service.contractTypeTitle}}
        </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              شماره مبایل :
              <span class="text-danger" *ngIf="!service.isDisabled">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
              <input class="text-center text-black border-0 h-40px w-100" formControlName='mobile' type="text"
                [maxLength]="11" [minlength]="11" mask="00000000000">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="float-end float-sm-start mt-3">
              برند :
              <span class="text-danger" *ngIf="!service.isDisabled">*</span>
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <ng-select [items]="baseInfoService.brandsSingle$|async" [multiple]="false" appendTo="body"
              bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="brandId">
            </ng-select>
          </div>
        </div>
      </div>
    </div>


    <div>
      <!-- contract-user-info start -->
      <div class="contract-user-info">
        <!-- name family firstName lastName start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نام :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='firstName' type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نام خانوادگی :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='lastName' type="text">
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- name family firstName lastName end -->

        <!-- personnelCode  nationalCode start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  کد ملی :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='nationalCode' type="text"
                    [maxLength]="10" [minlength]="10" mask="0000000000">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6" *ngIf="service.getValue('type')===1">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  کد پرسنلی :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='personnelCode'
                    type="text" [maxLength]="10" [minlength]="10" mask="9999999999" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- personnelCode  nationalCode end -->

        <!-- phone  postalCode start -->
        <div class="row mt-5">

          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  شماره ثابت :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='phone' type="text"
                    mask="99999999999999" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  کد پستی :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='postalCode' type="text"
                    [maxLength]="10" [minlength]="10" mask="0000000000">
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- phone  postalCode end -->

        <!-- personnelCode  nationalCode start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  استان :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="contractBaseInfoService.provinces$|async" [multiple]="false" appendTo="body"
                  bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="stateId">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  شهر :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="contractBaseInfoService.cities$|async" [multiple]="false" appendTo="body"
                  [readonly]="!service.form.get('stateId')?.value" bindLabel="title" bindValue="id"
                  class="form-control mb-3" formControlName="cityId">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <!-- personnelCode  nationalCode end -->

        <!-- Address start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-12">
            <div class="row">
              <div class="col-12 col-sm-2 d-flex">
                <label class="float-end float-sm-start mt-3 mx-auto">
                  آدرس :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-10">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='address' type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Address end -->
      </div>
      <!-- contract-user-info end -->


      <div class="my-3 d-flex flex-row">
        <div>
          اطلاعات کاربری
        </div>
        <div>
          <hr>
        </div>
      </div>
      <!-- shop start -->
      <div *ngIf="service.getValue('type')===3" formGroupName="shopContract">
        <!-- shopName  postion start -->
        <div class="row mt-5">

          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نام فروشگاه :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='shopName' type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  سمت در پخش :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='postion' type="text">
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- shopName  postion end -->

        <!-- activitySectionId  officeArea start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  دسته فعالیت :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="contractBaseInfoService.shopActivitySections$|async" [addTag]="addTag"
                  (change)="comboChanged($event,9)" [multiple]="false" appendTo="body" bindLabel="title" bindValue="id"
                  class="form-control mb-3" formControlName="activitySectionId">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  متراژ فروشگاه :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='officeArea' type="text"
                    mask="999999999">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- activitySectionId  officeArea end -->

        <!-- ownershipType  start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نوع مالگیت :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>

              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-2 align-items-center">
                  <div class="d-flex align-items-center mt-3">
                    <input [ngClass]="{'disabled':service.isDisabled}" [readOnly]="service.isDisabled" [value]="1"
                      class="form-check-input mt-3" formControlName="ownershipType" id="ownershipTypeOne"
                      name="ownershipType" type="radio">
                    <label class="float-end float-sm-start mx-3" for="ownershipTypeOne">
                      ملکی
                    </label>
                  </div>

                  <div class="d-flex align-items-center mt-3">
                    <input [ngClass]="{'disabled':service.isDisabled}" [readOnly]="service.isDisabled" [value]="2"
                      class="form-check-input mt-3" formControlName="ownershipType" id="ownershipTypeTwo"
                      name="ownershipType" type="radio">
                    <label class="float-end float-sm-start mx-3" for="ownershipTypeTwo">
                      استیجاری
                    </label>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ownershipType  end-->
      </div>
      <!-- shop end -->

      <!-- Distributor start -->
      <div *ngIf="service.getValue('type')===2" formGroupName="distributor">
        <!-- shopName  postion start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نام مرکز پخش :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='broadcastCenterName'
                    type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  سمت در پخش :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='positon' type="text">
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- shopName  postion end -->

        <!-- activitySectionId  activityZoneId start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  حوزه فعالیت :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="contractBaseInfoService.allCities$|async" [multiple]="false" appendTo="body"
                  bindLabel="title" bindValue="id" class="form-control mb-3" formControlName="activityZoneId">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  دسته فعالیت :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <ng-select [items]="contractBaseInfoService.distributorActivitySections$|async" [addTag]="addTag"
                  (change)="comboChanged($event,8)" [multiple]="false" appendTo="body" bindLabel="title" bindValue="id"
                  class="form-control mb-3" formControlName="activitySectionId">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <!-- activitySectionId  activityZoneId end -->

        <!-- ownershipType  officeArea start -->
        <div class="row mt-5">
          <div class="col-12 col-sm-6 mt-3 mt-sm-0">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  متراژ فروشگاه :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>
              <div class="col-12 col-sm-9">
                <div class="form-control rounded-pill d-flex flex-row align-items-center gap-2 p-10px pr-1">
                  <input class="text-center text-black border-0 h-40px w-100" formControlName='officeArea' type="text"
                    mask="999999999">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-12 col-sm-3">
                <label class="float-end float-sm-start mt-3">
                  نوع مالگیت :
                  <span class="text-danger" *ngIf="!service.isDisabled">*</span>
                </label>
              </div>

              <div class="col-12 col-sm-9">
                <div class="d-flex flex-row gap-2 align-items-center">
                  <div class="d-flex align-items-center mt-3">
                    <input [ngClass]="{'disabled':service.isDisabled}" [readOnly]="service.isDisabled" [value]="1"
                      class="form-check-input mt-3" formControlName="ownershipType" id="ownershipTypeOne"
                      name="ownershipType" type="radio">
                    <label class="float-end float-sm-start mx-3" for="ownershipTypeOne">
                      ملکی
                    </label>
                  </div>

                  <div class="d-flex align-items-center mt-3">
                    <input [ngClass]="{'disabled':service.isDisabled}" [readOnly]="service.isDisabled" [value]="2"
                      class="form-check-input mt-3" formControlName="ownershipType" id="ownershipTypeTwo"
                      name="ownershipType" type="radio">
                    <label class="float-end float-sm-start mx-3" for="ownershipTypeTwo">
                      استیجاری
                    </label>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ownershipType  officeArea start -->

      </div>
      <!-- Distributor end -->

      <!-- teachers start -->
      <div *ngIf="service.getValue('type')===1">
        <div class="d-flex flex-row justify-content-end">
          <div (click)="service.addTeacher()" *ngIf="false">
            <div class="font-yekan-regular fs-08 color-info mt-1 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-plus-circle color-app-blue" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
              </svg>
              <span class="color-app-blue mr-3-px">
                مدرسه جدید
              </span>
            </div>
          </div>
        </div>
        <div formArrayName="teachers">
          <div *ngFor="let formGroup  of service.teachers.controls; let i=index; " [formGroupName]="i">

            <!-- <div [formGroupName]="i">
            <input class="text-center text-black border-0 h-40px w-100" formControlName='school' type="text">
          </div> -->

            <app-contract-teacher-edit [index]="i" [teacherFormGroup]="service.getFormGroupOfArray(formGroup)">

            </app-contract-teacher-edit>
          </div>
        </div>
      </div>
      <!-- teachers end -->
      <hr>
      <div class="row">
        <div class="col-12">
          <span class="font-yekan-bold fs-20px text-black">
            ثبت قرارداد (تخصیص ترویج دهنده)
          </span>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-12 col-sm-3">
              <label class="float-end float-sm-start mt-3">
                تگ کالا
                <span class="text-danger" *ngIf="!service.isDisabled">*</span>
              </label>
            </div>
            <div class="col-12 col-sm-9">
              <ng-select (change)="service.brandChanged($event,'tagIds')" [items]="baseInfoService.productGroups$|async"
                [multiple]="true" appendTo="body" bindLabel="title" bindValue="id" class="form-control"
                formControlName="tagIds">
              </ng-select>
              <div *ngIf="!service.form.get('tagIds')?.valid && service.form.get('tagIds')?.touched"
                class="text-danger font-yekan-regular fs-08 pr-1 mt-1" dir="rtl">
                تگ کالا را مشخص نمایید
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
          <div class="row">
            <div class="col-12 col-sm-3">
              <label class="float-end float-sm-start mt-3">
                تاریخ قرارداد
                <span class="text-danger" *ngIf="!service.isDisabled">*</span>
              </label>
            </div>
            <div class="col-12 col-sm-9">
              <div class="d-flex flex-row gap-3 align-items-center">
                <span class="text-black fs-09">
                  از
                </span>
                <div class="mt-1">
                  <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                    [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                    <input [dropSpecialCharacters]="false" [leadZeroDateTime]="true"
                      class="form-control h-55px rounded-pill text-center text-black" dir="ltr"
                      formControlName="startDate" mask="0000/M0/d0" type="text" />
                  </ng-persian-datepicker>
                </div>
                <span class="text-black fs-09">
                  تا
                </span>
                <div class="mt-1">
                  <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
                    [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
                    <input [dropSpecialCharacters]="false" [leadZeroDateTime]="true"
                      class="form-control h-55px rounded-pill text-center text-black" dir="ltr"
                      formControlName="endDate" mask="0000/M0/d0" type="text" />
                  </ng-persian-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-5">
        <div class="col-6 col-sm-3">
          <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
            (click)="service.confirm()">
            تایید قرارداد
          </button>
        </div>
        <div class="col-6 col-sm-3">
          <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block"
            dir="rtl" (click)="service.reject()">
            رد درخواست
          </button>
        </div>
      </div>

    </div>

  </div>
</form>
