<div *ngIf="visible" class="form-filter">
  <select class="select">
    <option selected>شامل</option>
    <option value="1">برابر</option>
  </select>
  <div class="by">
    با:
  </div>
  <div class="body">
    <div class="search">
      <input class="text-end font-yekan-regular" [(ngModel)]="searchValue" placeholder="جستجو" type="text">
      <div class="icon">
        <svg class="bi bi-search" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </div>
    </div>
    <div class="list">
      <div *ngIf="items.length==0" class="text-center">
        <div class="spinner-border text-secondary" role="status">
        </div>
      </div>
      <ng-container *ngIf="items.length>0">
        <ng-container *ngFor="let item of items | filter:searchValue">
          <div class="d-flex flex-row align-items-center mt-2">
            <input [(ngModel)]="item.checked"
                   class="form-check-input w-15-px h-15-px"
                   id="{{item.id}}"
                   name="{{item.id}}"
                   type="checkbox">
            <label class="form-check-label mr-5-px cursor-pointer fs-08" for="{{item.id}}">
              {{item.title}}
            </label>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <button (click)="applyEventNotify()" class="btn-apply-filter">
    فیلتر
  </button>
  <button (click)="cancelEventNotify()" class="btn-cancel-filter">
    انصراف
  </button>
</div>
