<div class="form-filter" [formGroup]="filterForm" *ngIf="visible">
  <ng-container *ngIf="isCriteria">
    <select class="select" formControlName="conditionType">
      <option selected [value]="1">شامل</option>
      <option [value]="2">مساوی</option>
      <option [value]="3">به جز</option>
    </select>
    <div class="by">
      با:
    </div>
  </ng-container>
  <div class="body">
    <div class="d-flex flex-column gap-2">
      <ng-container *ngIf="filterType==1">
        <input class="filter-int-input" [ngClass]="{'text-center':align==1,'text-start':align==2,'text-end':align==3}"
          formControlName="searchValue" type="number" maxlength="{{length}}">
      </ng-container>
      <ng-container *ngIf="filterType==2">
        <input class="filter-text-input" [ngClass]="{'text-center':align==1,'text-start':align==2,'text-end':align==3}"
          formControlName="searchValue" type="text" maxlength="{{length}}">
      </ng-container>
      <ng-container *ngIf="filterType==3">
        <ng-persian-datepicker [timeEnable]="false" [timeShowSecond]="true" [uiMonthView]="true"
          [uiTodayBtnEnable]="true" [uiYearView]="true" dateFormat="jYYYY/jMM/jDD">
          <input #datepickerInput3 [dropSpecialCharacters]="false" [dropSpecialCharacters]="false"
            [leadZeroDateTime]="true" class="filter-date-input text-center text-black" dir="ltr"
            formControlName="searchValue" mask="0000/M0/d0" type="text" placeholder="تاریخ" />
        </ng-persian-datepicker>
      </ng-container>
      <div *ngIf="filterForm.get('searchValue')?.hasError('minLengthOrValue')">
        حداقل {{minLengthOrValue}} حرف وارد کنید.
      </div>
    </div>

    <ng-container *ngIf="filterType==5">
      <div class="search" *ngIf="isCriteria">
        <input class="text-end font-yekan-regular" formControlName="searchValue" placeholder="جستجو" type="text">
        <div class="icon">
          <svg class="bi bi-search" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </div>
      </div>
      <div class="list">
        <div *ngIf="items.length==0" class="text-center">
          <div class="spinner-border text-secondary" role="status">
          </div>
        </div>
        <ng-container *ngIf="items.length>0">
          <ng-container *ngFor="let item of items | filter:filterForm.get('searchValue')?.value;index as i">
            <div class="d-flex flex-row align-items-center mt-2" [ngClass]="{'mt-2':i!=0}">
              <input (change)="changed(item)" [checked]="item.checked" class="form-check-input w-15-px h-15-px"
                id="{{item.id}}" [type]="isRadio?'radio':'checkbox'" [value]="item.id"
                [name]="isRadio?'radiogroup':item.id">
              <label class="form-check-label mr-5-px cursor-pointer text-end fs-08" for="{{item.id}}">
                {{item.title}}
              </label>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <button (click)="applyEventNotify()" class="btn-apply-filter">
    فیلتر
  </button>
  <button (click)="cancelEventNotify()" class="btn-cancel-filter">
    انصراف
  </button>
</div>
