<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
مشاهده
        </span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="table-responsive">
        <table cellspacing="1" class="table table-hover border-0">
          <thead>
          <tr>
            <th class="text-center" scope="col">ردیف</th>
            <th class="text-center" scope="col">تغییر سطح</th>
            <th class="text-center" scope="col">برند</th>
            <th class="text-center" scope="col">تعداد فعالیت</th>
            <th class="text-center" scope="col">حجم امتیاز</th>
            <th class="text-center" scope="col">قرار گیری در گروه مشتری</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center" scope="row">1</td>
            <td class="text-center">
              از X5 به X6
            </td>
            <td class="text-center">
              خیلی‌سبز
            </td>
            <td class="text-center">
              20
            </td>
            <td class="text-center">
              1200
            </td>
            <td class="text-center">
              نقره ای
            </td>
          </tr>
          <tr>
            <td class="text-center" scope="row">2</td>
            <td class="text-center">
              از X5 به X6
            </td>
            <td class="text-center">
              خیلی‌سبز
            </td>
            <td class="text-center">
              20
            </td>
            <td class="text-center">
              1200
            </td>
            <td class="text-center">
              نقره ای
            </td>
          </tr>
          <tr>
            <td class="text-center" scope="row">3</td>
            <td class="text-center">
              از X5 به X6
            </td>
            <td class="text-center">
              خیلی‌سبز
            </td>
            <td class="text-center">
              20
            </td>
            <td class="text-center">
              1200
            </td>
            <td class="text-center">
              نقره ای
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
