<div class="container">
  <div class="row">
    <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
مشاهده
        </span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <table class="table table-hover border-0" cellspacing="1">
        <thead>
        <tr>
          <th scope="col" class="text-center">ردیف</th>
          <th scope="col" class="text-center">تغییر سطح</th>
          <th scope="col" class="text-center">برند</th>
          <th scope="col" class="text-center">تعداد فعالیت</th>
          <th scope="col" class="text-center">حجم امتیاز</th>
          <th scope="col" class="text-center">قرار گیری در گروه مشتری</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row" class="text-center">1</td>
          <td class="text-center">
            از X5 به X6
          </td>
          <td class="text-center">
            خیلی‌سبز
          </td>
          <td class="text-center">
            20
          </td>
          <td class="text-center">
            1200
          </td>
          <td class="text-center">
            نقره ای
          </td>
        </tr>
        <tr>
          <td scope="row" class="text-center">2</td>
          <td class="text-center">
            از X5 به X6
          </td>
          <td class="text-center">
            خیلی‌سبز
          </td>
          <td class="text-center">
            20
          </td>
          <td class="text-center">
            1200
          </td>
          <td class="text-center">
            نقره ای
          </td>
        </tr>
        <tr>
          <td scope="row" class="text-center">3</td>
          <td class="text-center">
            از X5 به X6
          </td>
          <td class="text-center">
            خیلی‌سبز
          </td>
          <td class="text-center">
            20
          </td>
          <td class="text-center">
            1200
          </td>
          <td class="text-center">
            نقره ای
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
