@font-face {
  font-family: IranYekanBold;
  font-style: normal;
  font-weight: bold;
  src: url('assets/fonts/local/eot/iranyekanwebbold.eot');
  src: url('assets/fonts/local/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('assets/fonts/local/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanThin;
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/local/eot/iranyekanwebthin.eot');
  src: url('assets/fonts/local/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/woff2/iranyekanwebthin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('assets/fonts/local/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanLight;
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/local/eot/iranyekanweblight.eot');
  src: url('assets/fonts/local/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('assets/fonts/local/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanRegular;
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/local/eot/iranyekanwebregular.eot');
  src: url('assets/fonts/local/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('assets/fonts/local/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanMedium;
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/local/eot/iranyekanwebmedium.eot');
  src: url('assets/fonts/local/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/woff2/iranyekanwebmedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('assets/fonts/local/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanExtraBold;
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/local/eot/iranyekanwebextrabold.eot');
  src: url('assets/fonts/local/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/woff2/iranyekanwebextrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('assets/fonts/local/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanBlack;
  font-style: normal;
  font-weight: 850;
  src: url('assets/fonts/local/eot/iranyekanwebblack.eot');
  src: url('assets/fonts/local/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/woff2/iranyekanwebblack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('assets/fonts/local/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanExtraBlack;
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/local/eot/iranyekanwebextrablack.eot');
  src: url('assets/fonts/local/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/woff2/iranyekanwebextrablack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('assets/fonts/local/ttf/iranyekanwebextrablack.ttf') format('truetype');
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: IranYekanRegular;
  background-color: #eff3f3;
}

body.login {
  background-image: url("assets/img/bg/bg-2.jpg");
}

body.register {
  background-image: url("assets/img/bg/bg-9.jpg");
}

.font-yekan-bold {
  font-family: IranYekanBold !important;
}

.font-yekan-extera-bold {
  font-family: IranYekanExtraBold !important;
}

.font-yekan-black {
  font-family: IranYekanBlack !important;
}

.font-yekan-extera-black {
  font-family: IranYekanExtraBlack !important;
}

.font-yekan-light {
  font-family: IranYekanLight !important;
}

.font-yekan-regular {
  font-family: IranYekanRegular !important;
}

.font-yekan-medium {
  font-family: IranYekanMedium !important;
}

.font-yekan-thin {
  font-family: IranYekanThin !important;
}

.bg-body-blue {
  background-color: #62c0f2;
}

.rounded-4 {
  border-radius: 0.8rem;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.mt-15{
  margin-top: 15rem;
}

.mt-13{
  margin-top: 13rem;
}

input[type='text'].ng-invalid.ng-touched,
input[type='password'].ng-invalid.ng-touched {
  border-color: #dc3545;
}

select.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #00b3b5;
}

::-webkit-scrollbar-thumb {
  background: #e3e3e3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #009b9d;
}
