@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: IranYekanBold;
  font-style: normal;
  font-weight: bold;
  src: url('assets/fonts/local/eot/iranyekanwebboldfanum.eot');
  src: url('assets/fonts/local/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanThin;
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/local/eot/iranyekanwebthinfanum.eot');
  src: url('assets/fonts/local/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebthinfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanLight;
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/local/eot/iranyekanweblightfanum.eot');
  src: url('assets/fonts/local/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanweblightfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanRegular;
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/local/eot/iranyekanwebregularfanum.eot');
  src: url('assets/fonts/local/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebregularfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanMedium;
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/local/eot/iranyekanwebmediumfanum.eot');
  src: url('assets/fonts/local/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebmediumfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanExtraBold;
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/local/eot/iranyekanwebextraboldfanum.eot');
  src: url('assets/fonts/local/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebextraboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanBlack;
  font-style: normal;
  font-weight: 850;
  src: url('assets/fonts/local/eot/iranyekanwebblackfanum.eot');
  src: url('assets/fonts/local/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebblackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
  font-family: IranYekanExtraBlack;
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/local/eot/iranyekanwebextrablackfanum.eot');
  src: url('assets/fonts/local/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('assets/fonts/local/woff/iranyekanwebextrablackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('assets/fonts/local/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: IranYekanRegular;
  background-color: #eff3f3;
}

body.login {
  background-image: url("assets/img/bg/bg-2.jpg");
}

body.register {
  background-image: url("assets/img/bg/bg-9.jpg");
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #00b3b5;
}

::-webkit-scrollbar-thumb {
  background: #e3e3e3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #009b9d;
}

.font-yekan-bold {
  font-family: IranYekanBold !important;
}

.font-yekan-extera-bold {
  font-family: IranYekanExtraBold !important;
}

.font-yekan-black {
  font-family: IranYekanBlack !important;
}

.font-yekan-extera-black {
  font-family: IranYekanExtraBlack !important;
}

.font-yekan-light {
  font-family: IranYekanLight !important;
}

.font-yekan-regular {
  font-family: IranYekanRegular !important;
}

.font-yekan-medium {
  font-family: IranYekanMedium !important;
}

.font-yekan-thin {
  font-family: IranYekanThin !important;
}

.fs-06 {
  font-size: 0.6rem;
}

.fs-07 {
  font-size: 0.7rem;
}

.fs-20px {
  font-size: 20px;
}

.p-10px {
  padding: 10px !important;
}

.h-40px {
  height: 40px !important;
}

.h-55px {
  height: 55px !important;
}

.fs-08 {
  font-size: 0.8rem;
}

.fs-09 {
  font-size: 0.9rem;
}

.bg-body-blue {
  background-color: #62c0f2;
}

.bg-nav-green {
  background-color: #00b3b5 !important;
}

.rounded-4 {
  border-radius: 0.8rem;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}


.mt-15 {
  margin-top: 15rem;
}

.mt-13 {
  margin-top: 13rem;
}

.mt-06 {
  margin-top: 0.6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-4-px {
  margin-top: 4px;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-3-px {
  margin-right: 3px;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 3rem;
}

.w-70-px {
  width: 70px !important;
}

.w-80-px {
  width: 80px !important;
}

.w-90-px {
  width: 90px !important;
}

.w-120-px {
  width: 120px !important;
}

.w-130-px {
  width: 130px !important;
}


.w-50 {
  width: 50%;
}

.mw-50 {
  max-width: 50%;
}

.text-justify {
  text-align: justify;
}

.border-radius-1-5 {
  border-radius: 1.5rem !important;
}

label {
  font-family: IranYekanRegular;
  color: black;
  font-size: 0.9rem;
}

.form-control,
.form-select {
  box-shadow: inset -0.5px 0.5px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border: none;
  resize: none !important;
  //border-right: 2rem !important;
  border-radius: 2rem !important;
}

.form-select {
  font-size: 1rem !important;
  padding: 1.1rem !important;
  padding-right: 2.5rem !important;
}

input[type="text"] {
  outline: none !important;
  //padding: 1rem;
  color: black;
}

input[type='text'].ng-invalid.ng-touched,
input[type='password'].ng-invalid.ng-touched,
.form-control.ng-invalid.ng-touched,
.invalid {
  //box-shadow: inset -0.5px 3.5px 6px 0 rgb(255 11 11 / 16%);
  border: 1px solid #ff0000;
}

input[type="file"] {
  content: "";
  padding: 11px !important;
}

input[type=file]::-webkit-file-upload-button {
  width: 65px;
  height: 45px;
  content: "";
  padding: 5px;
  border-radius: 25px;
  color: #ffa100;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.16);
  background: #ffa100 url("assets/img/icons/attachment.svg") center no-repeat;
}

input[type="radio"],
input[type="checkbox"] {
  border: none;
  box-shadow: inset -0.5px 0.5px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #eff3f3 !important;
  color: #c4c4c4 !important;
}

.ng-select-disabled {
  background-color: #eff3f3 !important;
  color: #c4c4c4 !important;
}

.ng-select-container {
  background-color: transparent!important;
}

.form-check-input{
  margin-top: 0!important;
}

table {
  border-collapse: separate;
}

table.border-spacing-xs {
  border-spacing: 0 3px;
}

table.border-spacing-sm {
  border-spacing: 0 5px;
}

table.border-spacing-lg {
  border-spacing: 0 10px;
}

table th {
  font-weight: normal;
  font-size: 14px;
  color: black;
  border-bottom-width: 0px !important;
}

table tbody tr {
  border-radius: 6px;
  box-shadow: inset -0.5px 0.5px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-bottom-width: 0px !important;
  cursor: pointer;
}

table tbody tr td {
  font-weight: normal;
  font-size: 14px;
  color: black;
  border-bottom-width: 0px !important;
  vertical-align: middle;
}

table tbody tr td.padding-1 {
  padding: 1rem !important;
}

table tbody tr td.padding-05 {
  padding: 0.5rem !important;
}

.btn {
  padding: 11.5px 45px 11px !important;
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.16);
  color: black !important;
}

.btn.btn-warning {
  background-color: #ffa100 !important;
  border-bottom: 2px solid #cb9407 !important;
}

.btn.btn-success {
  background-color: #01aab1 !important;
  border-color: #0a8489 !important;
}

.btn.btn-outline-warning {
  box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #ffa100;
  background-color: #eff3f3;
}

.form-check-input:checked {
  background-color: #ffa100;
  border-color: #ffa100;
}

.form-check-input:checked.disabled {
  background-color: #01aab1;
  border-color: #01aab1;
  cursor: not-allowed;
}

select.ng-invalid.ng-touched {
  border-color: #ff001b;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.ng-select {
  padding: 10px;
}

.ng-select.custom {
  border: 0px;
  min-height: 0px;
  border-radius: 0;
}

.ng-select.custom .ng-select-container {
  min-height: 0px;
}

.ng-select .ng-select-container {
  border: none !important;
  width: 95% !important;
  margin-right: 8px !important;
}

.ng-select-multiple {
  //border-right: 2rem !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  border-radius: 1rem;
  margin-bottom: 5px;
}

.ng-dropdown-panel.ng-select-bottom {
  border-radius: 1.5rem;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  border-radius: 2rem !important;
  background-color: white !important;
  padding: 0.3rem !important;
  border: 1px solid #00b3b5;
  font-size: 0.8rem;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  border: none !important;
  border-radius: 50%;
  color: white;
  background-color: #00b3b5;
  float: left;
  width: 20px;
  height: 21px;
  text-align: center;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: 0.8rem;
}

.nav-item .nav-link {
  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
}

.nav-link.active {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid #00b3b5;
  padding-bottom: 1.2rem;
}

.nav-line {
  margin-top: -2px;
}

.modal-content {
  border-radius: 16px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #eff3f3;
}

.form-switch .form-check-input:checked {
  background-color: #7fd9da;
}

.ng-dropdown-panel .scroll-host {
  text-align: right !important;
  margin: 2px;
}

.datepicker-outer-container {
  position: absolute;
  width: 100px !important;
  z-index: 9;
  border-radius: 15px !important;
  border: none !important;
  box-shadow: inset -0.5px 0.5px 6px 0 rgb(0 0 0 / 16%);
}

.spinner {
  height: 60px;
  width: 60px;
  margin: auto;
  display: flex;
  position: absolute;
  -webkit-animation: rotation 0.6s infinite linear;
  -moz-animation: rotation 0.6s infinite linear;
  -o-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, 0.15);
  border-right: 6px solid rgba(0, 174, 239, 0.15);
  border-bottom: 6px solid rgba(0, 174, 239, 0.15);
  border-top: 6px solid rgba(0, 174, 239, 0.8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.overlayLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

input[type='text'].disabled,
input[type='password'].disabled,
select.disabled,
.form-control.disabled,
.form-select.disabled {
  background: #eff3f3 !important;
  box-shadow: inset -0.5px 0.5px 6px 0 rgb(0 0 0 / 16%) !important;
  border: none !important;
  cursor: not-allowed;
}

.form-control.disabled > input {
  background: #eff3f3 !important;
  cursor: not-allowed;
}



