.pagination {
    box-shadow: inset -0.5px 0.5px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    border: none;
    resize: none !important;
    border-radius: 3rem !important;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagination .nav-left {
    float: left;
    margin-right: 15px;
    margin-left: 25px;
    cursor: pointer;
}

.pagination .nav-right {
    float: right;
    margin-right: 15px;
    margin-left: 25px;
    cursor: pointer;
}

.pagination .page-number {
    float: right;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    font-family: "IranYekanRegular";
    font-size: 14px;
    color: gray;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pagination .page-number:hover {
    padding: 12px;
    box-shadow: inset 0 -1px 1px 0 rgb(0 0 0 / 16%);
    background-color: #01aab1;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    color:white;
}

.pagination .page-number.selected {
    padding: 12px;
    box-shadow: inset 0 -1px 1px 0 rgb(0 0 0 / 16%);
    background-color: #01aab1;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    color:white;
}