<form action="" dir="rtl" [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="font-yekan-bold h5 text-black">
          مدیریت سطوح و گروه مشتری
        </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-4">
              برند :
            </label>
          </div>
          <div class="col-9">
            <ng-select [items]="cars" class="form-control mb-3" bindLabel="name" appendTo="body" [multiple]="true"
              formControlName="selectedCar" [searchable]="true">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-4">
              نوع کاربری :
            </label>
          </div>
          <div class="col-9">
            <ng-select [items]="cars" class="form-control mb-3" bindLabel="name" appendTo="body" [multiple]="true">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-3">
              سطح فعلی :
            </label>
          </div>
          <div class="col-9">
            <select class="form-select form-select-lg mb-3 rounded-pill" dir="rtl">
              <option selected>زینجا</option>
              <option value="1">بون</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-3">
              با تعداد فعالیت :
            </label>
          </div>
          <div class="col-9">
            <input class="form-control rounded-pill w-70-px text-center" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-3">
              با حجم امتیاز :
            </label>
          </div>
          <div class="col-9">
            <div class="d-flex flex-row align-items-center">
              <div>
                <img src="assets/img/icons/greater.svg" alt="">
              </div>
              <div class="mr-1">
                <input class="form-control rounded-pill text-start" type="text" placeholder="امتیاز">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-3">
              تبدیل به سطح :
            </label>
          </div>
          <div class="col-9">
            <select class="form-select form-select-lg mb-3 rounded-pill" dir="rtl">
              <option selected>زینجا</option>
              <option value="1">بون</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <label class="float-start mt-06">
              قرار گیری در گروه مشتری :
            </label>
          </div>
          <div class="col-9">
            <select class="form-select form-select-lg mb-3 rounded-pill" dir="rtl">
              <option selected>زینجا</option>
              <option value="1">بون</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-2">
        <button class="btn btn-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
          type="submit">
          اعمال
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-warning w-100 rounded-pill font-yekan-regular px-4 text-white d-block" dir="rtl"
          type="submit">
          انصراف
        </button>
      </div>
    </div>
  </div>
  <form action="" dir="rtl">
    <app-customer-group-grid></app-customer-group-grid>
    <!--  <app-customer-group-root></app-customer-group-root>-->
  </form>
