<div dir="rtl">
  <div class="container-fluid">
    <div *ngIf="theViewList.length>0||activeFilterName!==0" class="row mt-4">
      <div class="col-12">
        <div class="table-responsive">
          <table cellspacing="1" class="table table-hover border-0 border-spacing-xs">
            <thead>
              <tr>
                 <th class="text-end font-yekan-bold fs-08 th-app-table" scope="col" *ngFor="let headerItem of headerItems;">
                  <app-table-header-filter [activeFilterName]="activeFilterName" [filterName]="headerItem"
                    (onOpenFilterForm)="openFilterForm($event)" (onCloseFilterForm)="closeFilterForm($event)"
                    (onApplyFilterForm)="applyFilterForm($event)">
                  </app-table-header-filter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="goToEdit(discount.id)" *ngFor="let discount of theViewList;let i=index;">
                <td class="pr-1 text-end" scope="row">
                  {{((pageIndex-1)*pageSize)+(i+1)}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  {{discount.patternName}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  {{discount.brands.length>0? discount.brands.join('،'):'همه'}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  {{discount.periodMax.full}}-{{discount.periodMin.full}}
                </td>
                <td class="pr-1 text-end" scope="row">
                  {{service.getVolume(discount)}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <app-pagination [pageSize]="pageSize" [totalPages]="service.totalPages" [pageIndex]="pageIndex"
        (notifyPageIndex)="selectedPageIndex($event)">
      </app-pagination>
    </div>
    <div *ngIf="!theViewList || theViewList?.length===0" class="row mt-6">
      <div class="col-12">
        <div class="text-center font-yekan-bold text-black fs-09">
          کدهای تخفیف شما به محض ایجاد، در این صفحه نمایش داده می‌شود.
        </div>
        <div class="text-center font-yekan-bold text-gray-500 mt-2 fs-09">
          از دکمه زیر برای ایجاد یک کد تخفیف جدید استفاده کنید.
        </div>
        <div class="text-center mt-4">
          <img alt="Empty page" src="assets/img/icons/empty.png">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-3">
        <button (click)="goToEdit('')"
          class="btn btn-warning w-100 rounded-pill font-yekan-bold px-4 text-white d-block" dir="rtl" type="submit">
          ایجاد کد تخفیف
        </button>
      </div>
    </div>
  </div>
</div>
<br>
